---
### ALL PAGES ###
layout: master/global/default

### REGULAR PAGES ###
settings:
  include-app-header: false
  include-app-footer: false
---
<header id="header" class="header header-bg-transparent header-abs-top">
  <div class="header-section">
    <div id="logoAndNav" class="container-fluid">
      <!-- Nav -->
      <nav class="navbar navbar-expand header-navbar">
        <!-- White Logo -->
        <!-- <a class="d-none d-lg-flex navbar-brand header-navbar-brand" href="./index.html" aria-label="Front">
          <img src="/assets/svg/logos/logo-white.svg" alt="Logo">
        </a> -->
        <!-- End White Logo -->

        <!-- Default Logo -->
        <!-- <a class="d-flex d-lg-none navbar-brand header-navbar-brand header-navbar-brand-collapsed" href="./index.html" aria-label="Front">
          <img src="/assets/svg/logos/logo.svg" alt="Logo">
        </a> -->
        <!-- End Default Logo -->

        <!-- Button -->
        <div class="ml-auto">
          <a class="btn btn-sm btn-link text-body" href="{{ site.url }}">
            <i class="fas fa-angle-left fa-sm mr-1"></i> Return home
          </a>
        </div>
        <!-- End Button -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>

<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Form -->
  <div class="d-flex align-items-center position-relative vh-lg-100">


    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 space-top-3 space-lg-0">
          <!-- Form -->
          {{ content }}
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Form -->
</main>
<!-- ========== END MAIN ========== -->
