---
### ALL PAGES ###
layout: master/global/default

### REGULAR PAGES ###
---
<main id="content" role="main" class="bg-light">
    <!-- Privacy Section -->
    <div class="container space-top-3 space-top-lg-4 space-bottom-2 space-bottom-lg-3 overflow-hidden">
      <div class="w-lg-80 mx-lg-auto">
        <div class="card">
          <!-- Hero -->
          <div class="card-header position-relative d-block bg-primary space-1 space-md-2 p-4 px-md-7 px-md-9">
            <h1 class="text-white">{{ page.meta.breadcrumb }}</h1>
            <!-- <p class="text-white-70">Last modified: March 27, 2018 (<a class="text-light" href="#">view archived versions</a>)</p> -->

            <!-- SVG Bottom Shape -->
            <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1" width="100%" height="32">
                <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
              </svg>
            </figure>
            <!-- End SVG Bottom Shape Section -->
          </div>
          <!-- End Hero -->

          <!-- Content -->
          <div class="card-body p-4 p-md-9">

            {{ content }}

          </div>
          <!-- End Content -->
        </div>
      </div>
    </div>
    <!-- End Privacy Section -->
  </main>
