---
### ALL PAGES ###
layout: master/global/default

### REGULAR PAGES ###
---

<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <!-- <div class="bg-primary bg-img-hero" style="background-image: url(/assets/svg/components/abstract-shapes-5.svg);"> -->
  <div class="bg-{{ page.platform.color }} bg-img-hero">
    <div class="container space-top-3 space-bottom-2 space-bottom-md-3">
      <div class="w-lg-65 text-center mx-lg-auto">

        {% if page.platform.heading-top != null %}
          <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">{{ page.platform.heading-top }}</span>
        {% else %}
          <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">{{ page.platform.name }} Automation Tool</span>
        {% endif %}

        <h1 class="text-white mb-0 h2">{{ page.platform.heading }}</h1>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Content Section -->
  <div class="container space-2 space-lg-0">
    <div class="row">
      <div class="col-lg-8 space-lg-2 order-2">
        <div class="pl-lg-4">

          {% assign platform-video = "m4XZMI5Xdng" %}

          <div class="">
          </div>

          {% if platform-video != null %}
            <div class="">
              <!-- Title -->
              <div class="text-center mx-md-auto">
                <span class="d-block small font-weight-bold text-cap mb-2">{{ page.platform.name }} in action</span>

                {% if page.platform.heading-sub != null %}
                  <h2>{{ page.platform.heading-sub }}</h2>
                {% else %}
                  <h2 class="h3">Somiibo is the best tool to grow your {{ page.platform.name }}</h2>
                {% endif %}

                <p class="">{{ page.meta.description }}</p>

              </div>
              <!-- End Title -->

              <!-- Icon Blocks -->
              <div class="row my-5">
                <div class="col-12">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ platform-video }}"></iframe>
                  </div>

                  <div class="mt-5 text-center">
                    <!-- <a class="btn btn-sm btn-soft-primary btn-wide transition-3d-hover" href="{{ site.url }}/authentication/signup">Signup for free</a> -->
                    <!-- <small class="d-block d-sm-inline-block text-white-70 my-3 my-sm-0 mx-sm-3">or</small> -->
                    <!-- <a class="btn btn-sm btn-primary btn-wide transition-3d-hover" href="https://somiibo.com/download">Get started for free</a> -->
                  </div>

                </div>
              </div>
              <!-- <hr> -->
            </div>
          {% endif %}

          {% if platform-video == null %}
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
              <span class="d-block small font-weight-bold text-cap mb-2">Why Somiibo</span>
              <h2>Grow with our {{ page.platform.name }} bot</h2>
            </div>
            <!-- End Title -->
          {% endif %}

          <!-- Icon Blocks -->
          <div class="row mb-5 mb-md-9">
            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
              <!-- Icon Block -->
              <div class="media align-items-center mb-2">
                <figure class="w-100 max-w-6rem mr-3">
                  <img class="img-fluid" src="/assets/svg/icons/icon-29.svg" alt="SVG">
                </figure>
                <div class="media-body">
                  <h4 class="mb-0">Speed and Efficiency</h4>
                </div>
              </div>
              <p>
                Somiibo earns {{ page.platform.name }}

                {% for stat in page.platform.stats %}
                  {% if forloop.last == true %}
                    & {{ stat }}
                  {% else %}
                    {{ stat }},
                  {% endif %}
                {% endfor %}
                quickly without compromising efficiency.
              </p>
              <!-- End Icon Block -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
              <!-- Icon Block -->
              <div class="media align-items-center mb-2">
                <figure class="w-100 max-w-6rem mr-3">
                  <img class="img-fluid" src="/assets/svg/icons/icon-44.svg" alt="SVG">
                </figure>
                <div class="media-body">
                  <h4 class="mb-0">Safety</h4>
                </div>
              </div>
              <p>This Module uses browser trusted user-input events. {{ page.platform.name }} thinks a <strong>real user</strong> is navigating the site and interacting with content.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
              <!-- Icon Block -->
              <div class="media align-items-center mb-2">
                <figure class="w-100 max-w-6rem mr-3">
                  <img class="img-fluid" src="/assets/svg/icons/icon-2.svg" alt="SVG">
                </figure>
                <div class="media-body">
                  <h4 class="mb-0">Multiple Accounts</h4>
                </div>
              </div>
              <p>You can automate multiple {{ page.platform.name }} accounts with Somiibo. Each {{ page.platform.name }} Module can have its own settings and breaks!</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
              <!-- Icon Block -->
              <div class="media align-items-center mb-2">
                <figure class="w-100 max-w-6rem mr-3">
                  <img class="img-fluid" src="/assets/svg/icons/icon-37.svg" alt="SVG">
                </figure>
                <div class="media-body">
                  <h4 class="mb-0">Proxy Support</h4>
                </div>
              </div>
              <p>You can assign each {{ page.platform.name }} Module instance a different proxy. {{ page.platform.name }} will never know you run multiple accounts.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
              <!-- Icon Block -->
              <div class="media align-items-center mb-2">
                <figure class="w-100 max-w-6rem mr-3">
                  <img class="img-fluid" src="/assets/svg/icons/icon-5.svg" alt="SVG">
                </figure>
                <div class="media-body">
                  <h4 class="mb-0">Scheduling</h4>
                </div>
              </div>
              <p>Set breaks and goals for each {{ page.platform.name }} Module. You can control how long the Module runs for without babysitting it.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-sm-6 col-md-4">
              <!-- Icon Block -->
              <div class="media align-items-center mb-2">
                <figure class="w-100 max-w-6rem mr-3">
                  <img class="img-fluid" src="/assets/svg/icons/icon-28.svg" alt="SVG">
                </figure>
                <div class="media-body">
                  <h4 class="mb-0">Multiple Modules</h4>
                </div>
              </div>
              <p>Somiibo offers multiple Modules for {{ page.platform.name }}, each with its own purpose. Mix and match them to customize your social media marketing.</p>
              <!-- End Icon Block -->
            </div>
          </div>
          <!-- End Icon Blocks -->

          <div class="text-center mb-9">
            <div class="mb-3">
              <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mx-1" href="{{ site.url }}/authentication/signup">Sign up free</a>
              <a class="btn btn-link mb-2 mb-sm-0 mx-1" href="https://somiibo.com/download">Start automating {{ page.platform.name }} <i class="fas fa-angle-right fa-sm ml-1"></i></a>
            </div>

            <p class="small">Somiibo is free. No credit card required.</p>
          </div>


          <div class="">
            <h3 class="h5">How do the Somiibo {{ page.platform.name }} Automation Tools Work?</h3>
            {{ content }}
          </div>
        </div>
      </div>

      <div id="stickyBlockStartPoint" class="col-lg-4 mt-lg-n11 mb-7 mb-lg-0 order-1">
        <!-- Sidebar Content -->
        <div class="js-sticky-block card bg-white"
             data-hs-sticky-block-options='{
               "parentSelector": "#stickyBlockStartPoint",
               "startPoint": "#stickyBlockStartPoint",
               "endPoint": "#stickyBlockEndPoint",
               "stickyOffsetTop": 24,
               "stickyOffsetBottom": 24
             }'>
          <div class="card-header text-center py-5">
            <div class="max-w-27rem w-100 mx-auto">
              <i class="fa fa-{{ page.platform.icon }} fa-2x text-{{ page.platform.color }}"></i>
            </div>
          </div>

          <div class="card-body">
            <div class="border-bottom pb-2 mb-4">
              <div class="mb-3">
                <h4>
                  {{ page.platform.name }} Tool
                  {% if page.platform.beta == true %}
                    <span class="badge badge-indigo align-center ml-1"><a href="{{ site.url }}/beta" class="text-white">Beta</a></span>
                  {% endif %}
                </h4>
              </div>

              {% for stat in page.platform.stats %}
                {% if stat contains "follower" %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      Get free <strong>{{ page.platform.name }}</strong> followers
                    </div>
                  </div>
                {% elsif stat contains "subscriber" %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      Get free <strong>{{ page.platform.name }}</strong> subscribers
                    </div>
                  </div>
                {% elsif stat contains "like" %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      Get free <strong>{{ page.platform.name }}</strong> likes
                    </div>
                  </div>
                {% elsif stat contains "repost" %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      Get free <strong>{{ page.platform.name }}</strong> reposts
                    </div>
                  </div>
                {% elsif stat contains "play" %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      Get free <strong>{{ page.platform.name }}</strong> plays
                    </div>
                  </div>
                {% elsif stat contains "view" %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      Get free <strong>{{ page.platform.name }}</strong> views
                    </div>
                  </div>
                {% elsif stat contains "point" %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      Get free <strong>{{ page.platform.name }}</strong> points
                    </div>
                  </div>
                {% else %}
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {{ stat }}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>


            {% if page.platform.modules != null %}

              <div class="pb-0">
                <div class="mb-3">
                  <h4>{{ page.platform.name }} Modules</h4>
                </div>

                <div id="modules" class="space-bottom-0">
                  <div id="modulesAccordion">

                    {% for module in page.platform.modules %}
                      <div class="card shadow-none {% if forloop.last == true %} mb-0 {% else %} mb-3 {% endif %}">
                        <div class="card-header card-collapse" id="modules-heading-{{ forloop.index }}">
                          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#modules-collapse-{{ forloop.index }}" aria-expanded="false" aria-controls="modules-collapse-{{ forloop.index }}">
                            <h2 class="mt-0 h5">
                              <i class="fas fa-{{ module[0] }} text-{{ page.platform.color }} mr-2"></i> {{ module[1] }}
                            </h2>

                            <span class="card-btn-toggle">
                              <span class="card-btn-toggle-default">+</span>
                              <span class="card-btn-toggle-active">−</span>
                            </span>
                          </a>
                        </div>
                        <div id="modules-collapse-{{ forloop.index }}" class="collapse" aria-labelledby="modules-heading-{{ forloop.index }}" data-parent="#modulesAccordion">
                          <div class="card-body px-0">
                            <p class="font-size-1">{{ module[2] }}</p>
                            <div class="d-block my-2">
                              <a class="font-size-1 font-weight-bold" href="https://somiibo.com/download" class="">Use this Module <span class="fas fa-angle-right ml-1"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>

                    {% endfor %}


                  </div>
                  <!-- End modules Accordion -->
                </div>

                <!-- {% for module in page.platform.modules %}

                  <div class="media font-size-1 text-body mb-3">
                    <div class="media-body">
                      <h2 class="mt-0 h5">
                        <i class="fas fa-{{ module[0] }} text-{{ page.platform.color }} mr-2"></i> {{ module[1] }}
                      </h2>
                      <div class="d-block">
                        {{ module[2] }}
                      </div>
                      <div class="d-block my-2">
                        <a class="font-weight-bold" href="https://somiibo.com/download" class="">Use this Module <span class="fas fa-angle-right ml-1"></span></a>
                      </div>
                    </div>
                  </div>

                {% endfor %} -->

              </div>

            {% endif %}

          </div>
        </div>
        <!-- End Sidebar Content -->
      </div>


    </div>
  </div>
  <!-- End Content Section -->

  <!-- Sticky Block End Point -->
  <div id="stickyBlockEndPoint"></div>

  <!-- Testimonials -->
  <div class="bg-light">
    <div class="container space-1 space-md-2 space-lg-3">
      <div class="w-lg-75 mx-lg-auto">
        <!-- SVG Quote -->
        <figure class="mx-auto text-center mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px"
             viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <path fill="#377DFF" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
              C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
              c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
              C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
          </svg>
        </figure>
        <!-- End SVG Quote -->

        <!-- Blockquote -->
        <div class="text-center mb-5">
          <blockquote class="h2 font-weight-normal">
            Somiibo has been pretty straightforward and upfront about what it is they do and what they have on offer... they do appear to follow through on promises that they make about the quality of their services.
          </blockquote>
        </div>
        <!-- End Blockquote -->

        <!-- Reviewer -->
        <div class="w-lg-50 text-center mx-lg-auto">
          <h4 class="mb-0">Jonathon Spire</h4>
          <small class="text-muted">Blogger @ <a href="https://jonathonspire.com/somiibo-review/" rel="nofollow" target="_blank">jonathonspire.com</a></small>
        </div>
        <!-- End Reviewer -->
      </div>
    </div>
  </div>
  <!-- Testimonials -->

  <div class="container space-top-2 space-top-lg-3 space-bottom-2 space-bottom-lg-3">
    {%- include /app/modules/call-to-action.html -%}
  </div>

</main>
<!-- ========== END MAIN ========== -->
