---
### ALL PAGES ###
layout: master/global/default

### REGULAR PAGES ###
---
<main id="content" role="main">
	<!-- Hero Section -->
	<div class="position-relative bg-{{ page.promotions.color }} overflow-hidden">
		<!-- <div class="container position-relative z-index-2 space-top-3 space-top-md-4 space-bottom-3 space-bottom-md-4"> -->
		<div class="container position-relative z-index-2 space-top-3 space-top-md-3 space-bottom-1 space-bottom-md-2">
      <!-- <div class="w-md-80 w-xl-60 text-center mx-md-auto"> -->
			<div class="text-center mx-md-auto">
				<div class="mb-7">
					<h1 class="display-4 text-white mb-4">{{ page.promotions.name }}</h1>
					<p class="lead text-white mb-4">{{ page.promotions.heading }}</p>
				</div>
				<!-- <a class="btn btn-light btn-wide transition-3d-hover" href="#">Start Now</a> -->
				<!-- <a class="btn text-white" href="#">Get in Touch <i class="fas fa-angle-right fa-sm ml-1"></i></a> -->
			</div>
		</div>

		<!-- SVG Shapes -->
		<figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
			<svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
				<path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z" />
			</svg>
		</figure>
		<!-- End SVG Shapes -->
	</div>
	<!-- End Hero Section -->

	<div class="container space-top-2 space-top-lg-3">
		<div class="w-lg-75 mx-lg-auto">
			<div class="text-center mb-7">
				<h2 class="h1">{{ page.promotions.sub-heading }}</h2>
				<p>{{ page.promotions.package-description }}</p>
			</div>
			<div class="position-relative">
				<div class="row position-relative z-index-2 mx-n2 mb-5">

          {% for package in page.promotions.packages %}

          {% assign packages-index = forloop.index %}

          <div class="col-sm-6 col-md-4 px-2 mb-3">

            <div class="card h-100">

              <div class="card-header border-0">
                <h3 class="h3 text-dark">{{ package[0] }}</h3>
                <!-- <small class="text-dark">Grow your SoundCloud</small> -->

              </div>

              <div class="border-top opacity-xs"></div>

              <div class="card-body">
                {% for feature in package[1] %}
                <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                    {{ feature }}
                  </div>
                </div>
                {% endfor %}

                {% if packages-index == 2 %}
                <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                    Most <strong>popular</strong> package
                  </div>
                </div>
                {% endif %}
              </div>

              <div class="card-footer border-0">
                <a id="" class="btn btn-primary btn-block transition-3d-hover package-order-btn disabled" href="https://itwcreativeworks.com/checkout/{{ page.promotions.product-id }}?{{ package[2] }}" disabled>Order</a>
              </div>
            </div>

          </div>
          {% endfor %}

				</div>

				<!-- <div class="position-relative z-index-2 text-center">
					<div class="d-inline-block font-size-1 border bg-white text-center rounded-pill py-3 px-4">
						Prefer to start with the free version? <a class="d-block d-sm-inline-block font-weight-bold ml-1" href="https://somiibo.com/download">Get started now <span class="fas fa-angle-right ml-1"></span></a>
					</div>
				</div> -->


				<figure class="max-w-11rem w-100 position-absolute top-0 right-0">
					<div class="mt-n11 mr-n11">
						<img class="img-fluid" src="/assets/svg/components/dots-1.svg" alt="Image Description">
					</div>
				</figure>
				<figure class="max-w-13rem w-100 position-absolute bottom-0 left-0">
					<div class="mb-3 ml-n9">
						<img class="img-fluid" src="/assets/svg/components/abstract-shapes-10.svg" alt="Image Description">
					</div>
				</figure>

			</div>
		</div>
	</div>

	<div class="container space-top-1 space-bottom-2">
		<div class="w-lg-85 mx-lg-auto">
			<div class="card bg-primary text-white overflow-hidden p-4">
				<div class="row justify-content-md-start align-items-md-center text-center text-md-left">
					<div class="col-md-6 offset-md-3 mb-3 mb-md-0">
						<h3 class="text-white mb-1">Have questions?</h3>
						<p class="text-white-70 mb-0">We'd love to talk about how we can help you.</p>
					</div>
					<div class="col-md-3 text-md-right">
						<a class="btn btn-light transition-3d-hover" href="{{ site.url }}/contact">Contact us</a>
					</div>
				</div>

				<!-- SVG Component -->
				<figure class="w-25 d-none d-md-block content-centered-y ml-n4">
					<img class="img-fluid" src="/assets/svg/illustrations/communication.svg" alt="Image Description">
				</figure>
				<!-- End SVG Component -->
			</div>
		</div>
	</div>


</main>

<script type="text/javascript">
  Manager.auth().ready(function() {
    var user = firebase.auth().currentUser || {};
    Manager.dom().select('.package-order-btn').each(function (el) {
      var newURL = new URL(el.getAttribute('href'));
      newURL.searchParams.set('uid', user.uid)
      newURL.searchParams.set('email', user.email)
      el.setAttribute('href', newURL.toString())
      el.removeAttribute('disabled')
      el.classList.remove('disabled');
    })

  })
</script>
