---
### ALL PAGES ###
layout: master/admin/main
permalink: /admin/lab/firestore/
sitemap:
  include: false

### REGULAR PAGES ###
settings:
  manager-configuration: "
    {
      libraries: {
        cookieconsent: {
          enabled: false
        },
        tawk: {
          enabled: false
        },
        sentry: {
          enabled: false
        }
      },
      auth: {
        state: 'default',
      },
      pushNotifications: {
        autoRequest: false
      }
    }
  "
---
<!-- Header -->
<div class="header mt-md-5">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">

        <!-- Pretitle -->
        <h6 class="header-pretitle">
          Lab
        </h6>

        <!-- Title -->
        <h1 class="header-title">
          Firestore Testing Suite
        </h1>

        <p class="text-muted mb-0">Read and write to the database to test rules!</p>
      </div>
    </div> <!-- / .row -->
  </div>
</div>

<div class="row loaded-false">
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<!-- Form -->
<div class="loaded-true" hidden>
  <form class="mb-4" onsubmit="return false;" id="firestore-form">

    <div class="row">
      <div class="col-6 offset-3">
        {% include /master/modules/admin/account-manager.html %}
      </div>
    </div>

    <h2 class="header-title my-3">
      Request details
    </h2>

    <div class="row">

      <!-- <div class="col-12">
        <div class="form-group">
          <label>
            Processing Address
          </label>
          <small class="form-text text-muted">
            What address to process the post at? If live, it will be comitted live. If local, it will be saved as a file locally.
          </small>
          <div class="input-group input-group-merge mb-3">
            <select class="custom-select" id="processingAddy" name="processingAddy" required>
              <option id="processingAddy_none" value="">Select an address</option>
              <option id="processingAddy_dev" value="">Development</option>
              <option id="processingAddy_prod" value="">Production</option>
            </select>
          </div>
        </div>
      </div> -->

      <div class="col-12">
        <div class="form-group">
          <label>
            Request path
          </label>
          <small class="form-text text-muted">
            Path to a document or collection
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="path" name="path">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <label>
              Request data
            </label>
            <small class="form-text text-muted">
              Payload for write requests. Has no effect on read requests.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <textarea id="body" name="body"></textarea>
          </div>
          <div class="col-6">
            <a href="#" onclick="return false;" class="btn btn-primary btn-lg btn-block" id="firestore-test-get" type="submit">.get()</a>
            <a href="#" onclick="return false;" class="btn btn-primary btn-lg btn-block" id="firestore-test-set" type="submit">.set()</a>
          </div>
        </div>
      </div>

  </div>

  <hr class="mt-4 mb-5">

  <div class="row">

    <!-- Divider -->

    <div class="col-12">

      <div id="response" hidden>
        <div class="my-3">
          <div class="alert alert-info" role="alert" hidden>
            <h4 class="alert-heading">Waiting...</h4>
            <p class="mb-0">Hold up</p>
            <!-- <hr>
            <p class="mb-0">Be sure to check it out on the main blog page (<a href="{{ site.url }}/blog/">{{ site.url }}/blog/</a>) to see if it looks good!</p>
            <p class="mb-0">Refreshing in <span id="refresh-timer">3</span> seconds.</p> -->
          </div>
          <div class="alert alert-success" role="alert" hidden>
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, the request was <strong>successful</strong>. ;)</p>
            <hr>
            <p class="mb-0"></p>
            <pre><code id="success-response-code" class="text-white">waiting...</code></pre>
          </div>
          <div class="alert alert-danger" role="alert" hidden>
            <h4 class="alert-heading">Aw snap!</h4>
            <p class="mb-0">Something went wrong, please examine the error below:</p>
            <hr>
            <pre><code id="failed-response-code" class="text-white">waiting...</code></pre>
          </div>
        </div>
      </div>
    </div>

  </div>


</form>
</div>

<!-- <div class="" hidden>
  <form class="" action="index.html" method="post">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <textarea id="body" name="body"></textarea>
          </div>
          <div class="col-6">
            <a href="#" onclick="return false;" class="btn btn-primary btn-lg btn-block" id="firestore-test-get" type="submit">.get()</a>
            <a href="#" onclick="return false;" class="btn btn-primary btn-lg btn-block" id="firestore-test-set" type="submit">.set()</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- <script src="https://unpkg.com/codeflask/build/codeflask.min.js" crossorigin="anonymous"></script> -->

<script type="text/javascript">
  // fields
  var fields = {};
  {% for post in site.posts limit:1 %}
  fields = {
    path: "users/_test.regular@test.com",
    // body: '{\ntest: "value"\n}',
    body: '{\n  test: "value"\n}',
  }
  {% endfor %}


  // console.log('FIELDS', fields);

</script>

<!-- Exploring the library -->
<script type="text/javascript">

  var navBlocked = false;
  var allowLeave = true;
  var stackEditElement = document.querySelector('#body');
  var stackedit;
  var turndownService;
  var dom;
  var lastPreviewIcon = '';

  var buildFile = {};
  var flask;

  var htmlEditor = CodeMirror.fromTextArea(document.getElementById("body"), {
  	lineNumbers: true,
  	mode: 'application/ld+json',
    matchBrackets: true,
    autoCloseBrackets: true,
    viewportMargin: Infinity
  	// theme: 'default',
  });
  // var input = document.getElementById("select");
  // function selectTheme() {
  //   var theme = input.options[input.selectedIndex].textContent;
  //   editor.setOption("theme", theme);
  //   location.hash = "#" + theme;
  // }
  // var choice = (location.hash && location.hash.slice(1)) ||
  //              (document.location.search &&
  //               decodeURIComponent(document.location.search.slice(1)));
  // if (choice) {
  //   input.value = choice;
  //   editor.setOption("theme", choice);
  // }
  // CodeMirror.on(window, "hashchange", function() {
  //   var theme = location.hash.slice(1);
  //   if (theme) { input.value = theme; selectTheme(); }
  // });


  Manager.ready(function() {
    Manager.ajax().request({
      url: '{{ site.url }}/@output/build/build.json',
      method: 'GET',
    })
    .success(function (one, two, build) {
      buildFile = build;
      dom = Manager.dom();
      blockNavigation();
      // flask = new CodeFlask('.body-editor', {
      //   language: 'js',
      //   lineNumbers: false
      // });

      // myCodeMirror = CodeMirror(dom.select('.body-editor').get(0), {
      //   value: "function myScript(){return 100;}\n",
      //   mode:  "javascript",
      //   theme: 'dracula'
      // });

      setupForm();
      countChars();
      dom.select('body').on('click', function(event) {
        var path = dom.select('*[name="path"]').getValue();
        try {
          if (event.target.matches('#firestore-test-get')) {
            display('waiting');
            firebase.firestore().doc(path)
            .get()
            .then(function (doc) {
              allowLeave = true;
              display('success', 'Success: \n' + JSON.stringify(doc.data()))
            })
            .catch(function (error) {
              allowLeave = true;
              display('failed', 'Failed: \n' + JSON.stringify(error) )
            })
          } else if (event.target.matches('#firestore-test-set')) {
            // let body = JSON5.parse(dom.select('*[name="body"]').getValue());
            // let body = JSON5.parse(flask.getCode());
            let body = JSON5.parse(htmlEditor.getDoc().getValue())
            display('waiting');
            firebase.firestore().doc(path)
            .set(body,
            {
              merge: true
            }

            )
            .then(function (doc) {
              allowLeave = true;
              display('success', 'Success: \n' + JSON.stringify(body))
            })
            .catch(function (error) {
              allowLeave = true;
              display('failed', 'Failed: \n' + JSON.stringify(error) )
            })
          }
        } catch (e) {
          allowLeave = true;
          display('failed', 'Failed: \n' + (e) )
        }
      });

      dom.select('body').on('keyup', function (event) {
        countChars();
        allowLeave = false;
      });

      // flask.onUpdate((code) => {
      //   //...
      //   console.log(code);
      // });

      function setupForm() {
        dom.select('#path').setValue(fields.path);
        // dom.select('#body').setValue(fields.body);
        htmlEditor.getDoc().setValue(fields.body);
        // flask.updateCode(fields.body);
        setTimeout(function () {
          htmlEditor.refresh();
        }, 1);
        // special
        // var serverDev = 'http://localhost:5001/' + Manager.properties.options.libraries.firebase_app.config.projectId + '/us-central1/bm_sendNotification';
        // var serverProd = 'https://us-central1-' + Manager.properties.options.libraries.firebase_app.config.projectId + '.cloudfunctions.net/bm_sendNotification';
        // var env = buildFile.environment;
        // dom.select('#processingAddy_dev').setInnerHTML(serverDev).setAttribute('value', serverDev);
        // dom.select('#processingAddy_prod').setInnerHTML(serverProd).setAttribute('value', serverProd);
        // dom.select('#processingAddy').setValue(env == 'development' ? serverDev : serverProd);

      }

      function display(type, message) {
        dom.select('#response .alert-info').hide()
        dom.select('#post-submit-btn').removeAttribute('disabled');
        if (type == 'failed') {
          dom.select('#response').show()
          dom.select('#response .alert-success').hide()
          dom.select('#response .alert-danger').show()
          dom.select('#failed-response-code').setInnerHTML(message)
        } else if (type == 'success') {
          dom.select('#response').show()
          dom.select('#response .alert-success').show()
          dom.select('#response .alert-danger').hide()
          dom.select('#success-response-code').setInnerHTML(message)
        } else {
          dom.select('#response .alert-danger').hide()
          dom.select('#response .alert-success').hide()
          dom.select('#response .alert-info').show()
          dom.select('#response').show()
          dom.select('#post-submit-btn').setAttribute('disabled', true);
        }
      }

      dom.select('.loaded-false').hide();
      dom.select('.loaded-true').show();
    })

  }, {
    waitFor: function () {
      return typeof window.JSON5 !== 'undefined';
    }
  });

  function countChars() {
    var charCountFields = [];
    for (var i = 0; i < charCountFields.length; i++) {
      var cur = dom.select('*[name="' + charCountFields[i] + '"]').get(0);
      dom.select(cur.parentNode.childNodes).each(function (i, element) {
        if (element.matches('.input-group-append')) {
          dom.select(element.querySelectorAll('.input-group-append .input-group-text')).setInnerHTML(dom.select(cur).getValue().length);
        }
      })
    }
  }

  function blockNavigation() {
    if (navBlocked === true) {
      return;
    }
    navBlocked = true;
    try {
      window.onbeforeunload = function(event) {
        if (allowLeave) {
          event.preventDefault();
        } else {
          event.returnValue = "Write something clever here..";
        }
      };
    } catch (e) {
      console.error('Error creating post', e);
    }
  }



</script>
