---
### ALL PAGES ###
layout: master/global/default
sitemap:
  include: false

### REGULAR PAGES ###
meta:
  index: false

html:
  attributes: 'class="h-100"'

head:
  post-bundle-css: '
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  '

body:
  class: "h-100"

foot:
  post-bundle-script: '

  '

settings:
  include-app-foot: false
  include-app-head: false
  include-app-footer: false
  include-app-header: false
  include-script-bundle: true
  include-script-core: true
  include-css-bundle: false
  manager-configuration: "
    {
      libraries: {
        cookieconsent: {
          enabled: false
        },
        chatsy: {
          enabled: false
        },
        sentry: {
          enabled: false
        }
      },
    }
  "
---
{% capture url %}{{ page.redirect.url | default: site.url | liquify }}{% endcapture %}
{% capture querystring %}{{ page.redirect.querystring }}{% endcapture %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">{{ site.brand.name }}</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ site.url }}">Return home</a>
      </nav>
    </div>
  </header>

  <main class="px-3 text-center">
    <div class="d-inline-flex justify-content-between align-items-center">
      <h1>Redirecting...</h1>
      <div class="spinner-border spinner-border-md text-primary ms-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div> 
    </div>
   
    <p class="lead">Taking you to the page you requested...</p>
    <p class="lead">
      <noscript>
        <a href="{{ url }}" class="btn btn-lg btn-primary fw-bold">Take me there</a>
      </noscript>
    </p>
  </main>

  <footer class="mt-auto">
    <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="">@mdo</a>.</p> -->
  </footer>
</div>

<script type="text/javascript">
  Manager.ready(function () {
    var host = new URL('{{ site.url }}')
    var url = new URL(window.location.href);
    var redirect = {
      url: '{{ url }}',
      querystring: "{{ querystring }}" || true,
    };
    var isDevelopment = Manager.properties.meta.environment === 'development';

    console.log('Redirect options', redirect);

    // Set
    if (redirect.url) {
      redirect.url = new URL(redirect.url.startsWith('http') ? redirect.url : host + redirect.url.replace(/^\//, ''))
    } else {
      redirect.url = new URL(host);
    }

    // If redirect.querystring is true, loop through all querystring parameters and add them to the redirect url
    if (redirect.querystring !== false && redirect.querystring !== 'false') {
      for (var pair of url.searchParams.entries()) {
        redirect.url.searchParams.set(pair[0], pair[1]);
      }
    }
    
    // Set final URL
    var finalURL = redirect.url.toString();

    // Log
    console.log('Redirecting to: ' + finalURL);

    // Perform redirect
    setTimeout(function () {
      window.location.href = finalURL;
    }, isDevelopment ? 3000 : 1);
  })
</script>
