# Other unneeded files
.DS_Store

# Hidden Files
.github
.atomignore
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml

# Jekyll src files
_includes
_layouts
_posts
_site
_websrc

# Website files
@output
assets
blog
pages
special
vendor

# Config files
_config.yml
_config_app.yml
_config_development.yml
_config_master.yml
.codeclimate.yml
CNAME

# Other files
Gemfile
Gemfile.lock
gulpfile.js

# Development
/@output/regular/lighthouse-report.html
/@output/ngrok/

# App files
### INCLUDE APP FILES HERE ###
