---
### ALL PAGES ###
layout: master/admin/main
permalink: /admin/post/
sitemap:
  include: false

### REGULAR PAGES ###
meta:
  title: "Post"
  description: "Create blog posts with ease, including the beautiful markdown editor StackEdit."
  breadcrumb: "Post"

settings:
  manager-configuration: "
    {
      libraries: {
        cookieconsent: {
          enabled: false
        },
        tawk: {
          enabled: false
        },
        sentry: {
          enabled: false
        }
      },
      auth: {
        state: 'required',
        sends: {
          required: '/admin/signin/',
          prohibited: '/admin/dashboard/'
        }
      },
      pushNotifications: {
        autoRequest: false
      }
    }
  "
---
<!-- Header -->
<div class="header mt-md-5">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">

        <!-- Pretitle -->
        <h6 class="header-pretitle">
          Post
        </h6>

        <!-- Title -->
        <h1 class="header-title">
          New
        </h1>

        <p class="text-muted mb-0">Create blog posts with ease, including the beautiful markdown editor <strong>StackEdit</strong>!</p>
      </div>
    </div> <!-- / .row -->
  </div>
</div>

<div class="row loaded-false">
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<!-- Form -->
<div class="loaded-true" hidden>
  <form class="mb-4" onsubmit="return false;" id="post-creator-form">

    <h2 class="header-title my-3">
      Post details
    </h2>

    <div class="row">

      <div class="col-12">
        <div class="form-group">
          <label>
            Title
          </label>
          <small class="form-text text-muted">
            The title of the post: <code class="ml-1">My Post Title</code>
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control form-control-appended" id="title" name="title">
            <div class="input-group-append">
              <span class="input-group-text">
                0
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            URL
          </label>
          <small class="form-text text-muted">
            The URL of the post: <code class="ml-1">my-post-url</code>
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control form-control-appended" id="url" name="url">
            <div class="input-group-append">
              <span class="input-group-text">
                0
              </span>
            </div>

            <a id="url-format-btn" href="#" class="btn btn-primary ml-3">Format</a>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            Layout
          </label>
          <small class="form-text text-muted">
            Usually <code class="highlighter-rouge">app/blog/post</code> or <code class="highlighter-rouge">master/blog/post</code>
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="layout" name="layout" placeholder="app/blog/post" value="app/blog/post">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            Date
          </label>
          <small class="form-text text-muted">
            The date of the post
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="date" class="form-control" id="date" name="date" placeholder="2019-12-04">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            ID
          </label>
          <small class="form-text text-muted">
            The id of the post
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="number" class="form-control" id="id" name="id" placeholder="0">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            Author
          </label>
          <small class="form-text text-muted">
            Who wrote this beautiful piece of work?
          </small>
          <div class="input-group input-group-merge mb-3">
            <select class="custom-select" id="author" name="author" required>
              <option value="">Select an author</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            Affiliate search term
          </label>
          <small class="form-text text-muted">
            This term is automatically applied to some ads
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="affiliate" name="affiliate" placeholder="Search term">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            Tags
          </label>
          <small class="form-text text-muted">
            Comma separated tags
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="tags" name="tags" placeholder="Tag 1, Tag 2">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            Categories
          </label>
          <small class="form-text text-muted">
            Comma separated categories
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="categories" name="categories" placeholder="Category 1, Category 2">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            Excerpt
          </label>
          <small class="form-text text-muted">
            Text preview of the post
          </small>
          <div class="input-group input-group-merge mb-3">
            <textarea class="form-control" id="excerpt" name="excerpt"rows="2"></textarea>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            Header Image URL
          </label>
          <small class="form-text text-muted">
            Image preview of the post. Will be named the same as the title of the post
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="headerImageURL" name="headerImageURL" placeholder="https://unsplash.com/your-image" required>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-4 mb-5">

    <h2 class="header-title my-3">
      Post content
    </h2>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>
            Body
          </label>
          <small class="form-text text-muted">
            The content of the post
          </small>
          <div class="input-group input-group-merge mb-3">
            <textarea class="form-control" id="body" name="body"rows="9"></textarea>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row mt-3">
          <div class="col-6">
            <a href="" onclick="return false;" class="btn btn-lg btn-secondary btn-block" id="stackedit-edit">Edit in StackEdit</a>
          </div>
          <div class="col-6">
            <a href="" onclick="return false;" class="btn btn-lg btn-outline-secondary btn-block" id="import-google-docs" data-toggle="modal" data-target="#importGoogleDoc">Import from Google Docs</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-5">

    <h2 class="header-title my-3">
      Advanced options
    </h2>
    <div class="row">

      <div class="col-12">
        <div class="custom-control custom-checkbox table-checkbox">
          <input type="checkbox" class="custom-control-input auth-newsletter-input" id="enableReplaceImagesMarkdown" name="enableReplaceImagesMarkdown" checked="true">
          <label class="custom-control-label" for="enableReplaceImagesMarkdown">
            Replace image markdown with liquid tag
          </label>
          <small class="form-text text-muted">
            Replace <code class="highlighter-rouge">[alt](url)</code> with <code class="highlighter-rouge">&#123;%- include /master/helpers/blog-image.html src="&#123;&#123;url&#125;&#125;" -%&#125;</code>
          </small>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            Tags to replace with
          </label>
          <small class="form-text text-muted">
            Which one to use? Blank = default.
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="replaceImagesIncludeTag" name="replaceImagesIncludeTag" placeholder="">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="custom-control custom-checkbox table-checkbox">
          <input type="checkbox" class="custom-control-input auth-newsletter-input" id="includeLocalImagePath" name="includeLocalImagePath" checked="true">
          <label class="custom-control-label" for="includeLocalImagePath">
            Include image path before image tags
          </label>
          <small class="form-text text-muted">
            Include the standard local image path <code class="highlighter-rouge">/assets/images/blog/posts/post-${id}/</code> in image tags
          </small>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            Save path
          </label>
          <small class="form-text text-muted">
            The Path of the post. Usually <code class="highlighter-rouge">./_posts/</code> or <code class="highlighter-rouge">./_posts/sub/dir/</code>
          </small>
          <div class="input-group input-group-merge mb-3">
            <input type="text" class="form-control" id="path" name="path" placeholder="./_posts/" value="./_posts/">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            Processing Address
          </label>
          <small class="form-text text-muted">
            What address to process the post at? If live, it will be comitted live. If local, it will be saved as a file locally.
          </small>
          <div class="input-group input-group-merge mb-3">
            <select class="custom-select" id="processingAddy" name="processingAddy" required>
              <option id="processingAddy_none" value="">Select an address</option>
              <option id="processingAddy_dev" value="">Development</option>
              <option id="processingAddy_prod" value="">Production</option>
              <option id="processingAddy_prodDev" value="">Production (dev)</option>
            </select>
          </div>
        </div>
      </div>

    </div>

    <!-- Divider -->
    <hr class="mt-4 mb-5">

    <div class="row">
      <div class="col-12">

        <div id="response" hidden>
          <div class="my-3">
            <div class="alert alert-info" role="alert" hidden>
              <h4 class="alert-heading">Waiting...</h4>
              <p class="mb-0">Hold up</p>
              <!-- <hr>
              <p class="mb-0">Be sure to check it out on the main blog page (<a href="{{ site.url }}/blog/">{{ site.url }}/blog/</a>) to see if it looks good!</p>
              <p class="mb-0">Refreshing in <span id="refresh-timer">3</span> seconds.</p> -->
            </div>
            <div class="alert alert-success" role="alert" hidden>
              <h4 class="alert-heading">Well done!</h4>
              <p>Aww yeah, you successfully posted that amazing piece of work ;)</p>
              <hr>
              <p class="mb-0">Be sure to check it out on the main blog page (<a href="{{ site.url }}/blog/">{{ site.url }}/blog/</a>) to see if it looks good!</p>
              <p class="mb-0">Refreshing in <span id="refresh-timer">3</span> seconds.</p>
            </div>
            <div class="alert alert-danger" role="alert" hidden>
              <h4 class="alert-heading">Aw snap!</h4>
              <p class="mb-0">Something went wrong, please examine the error below:</p>
              <hr>
              <pre><code id="main-response-code" class="text-white">waiting...
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary btn-lg btn-block" id="post-submit-btn" type="submit">Post!</button>
      </div>

    </div>


  </form>
</div>



<!-- MODAL -->
<div class="modal fade" id="importGoogleDoc" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-lighter">
      <form id="google-doc-form" onsubmit="return false;" class="my-4">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col">

              <!-- Prettitle -->
              <h6 class="text-uppercase text-muted mb-3">
                <a href="#!" class="text-reset">Google Doc Import</a>
              </h6>

              <!-- Title -->
              <h2 class="mb-2">
                Import posts directly from Google Docs
              </h2>

            </div>
            <div class="col-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  ×
                </span>
              </button>

            </div>
          </div> <!-- / .row -->

          <!-- Divider -->
          <hr class="my-4">

          <div class="col-12">
            <strong>Publish the doc</strong> by going to <code class="highlighter-rouge">File > Publish to the Web > Start publishing</code>
          </div>


          <div class="col-12">
            <div class="form-group">
              <label>
                Doc URL
              </label>
              <small class="form-text text-muted">
                Remember, the Doc must be published!
              </small>
              <div class="input-group input-group-merge mb-3">
                <input type="text" class="form-control" id="importUrl" name="importUrl" placeholder="https://docs.google.com/document/d/e/KEY123/pub" value="" required>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="custom-control custom-checkbox table-checkbox">
              <input type="checkbox" class="custom-control-input auth-newsletter-input" id="replaceHeadings" name="replaceHeadings" checked="true">
              <label class="custom-control-label" for="replaceHeadings">
                Replace <code class="highlighter-rouge">&#45;&#45;&#45;</code> with <code class="highlighter-rouge">#</code>
              </label>
            </div>
          </div>

          <div class="col-12">
            <div id="google-doc-error" class="alert alert-danger" role="alert" hidden>
              <h4 class="alert-heading">Aw snap!</h4>
              <p>Something went wrong, please examine the error below:</p>
              <hr>
              <pre><code id="google-response-code">waiting...
              </code></pre>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="import-btn">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script type="text/javascript">
  // fields
  var fields = {};
  var authors = [];
  {% for post in site.posts limit:1 %}
  fields = {
    // title: "{{ post.post.title }}",
    title: "",
    // url: "{{ post.url }}",
    url: "",
    // excerpt: "{{ post.post.excerpt }}",
    excerpt: "",
    id: parseInt("{{ post.post.id }}") + 1,
    author: "{{ post.post.author }}",
    date: new Date().toISOString().split('T')[0] || '{{ post.date | date: "%Y-%m-%d" }}',
    affiliateSearchTerm: "{{ post.post.affiliate-search-term }}",
    tags: [{% for tag in post.post.tags %}"{{ tag }}",{% endfor %}],
    categories: [{% for category in post.post.categories %}"{{ category }}",{% endfor %}],
    replaceImagesIncludeTag: '{% raw %}{%- include /master/helpers/blog-image.html name="{name}" alt="{alt}" -%}{% endraw %}',
  }
  {% endfor %}

  authors = [{% for author in site.authors %}"{{ author.title | replace: " ", "-" | downcase }}",{% endfor %} ]

  // console.log('FIELDS', fields);
  // console.log('AUTHORS', authors);
</script>

<!-- Exploring the library -->
<script type="text/javascript">

  var navBlocked = false;
  var allowLeave = true;
  var stackEditElement = document.querySelector('#body');
  var stackedit;
  var turndownService;
  var dom;
  var siteUrl = window.location.protocol + '//' + window.location.host;
  var waitingTimeout;

  var buildFile = {};

  Manager.ready(function() {
    fetch(siteUrl + '/@output/build/build.json', {
      method: 'GET',
    })
    .then(function (res) {
      if (res.status >= 200 && res.status < 300) {
        res.json()
        .then(function (data) {
          console.log('Success', data);
          // Manager.dom().select('#result').setInnerHTML(res.status + '\n' + JSON.stringify(data, undefined, 2)); // Set setInnerHTML

          buildFile = data;
          dom = Manager.dom();
          blockNavigation();
          setupStackedit();
          setupForm();
          countChars();
          // dom.select('#body').setValue()
          dom.select('body').on('click', function(event) {
            // allowLeave = false;
            if (event.target.matches('#stackedit-edit')) {
              // Open the iframe
              stackedit.openFile({
                name: 'Filename', // with an optional filename
                content: {
                  text: stackEditElement.value // and the Markdown content.
                }
              });
            } else if (event.target.matches('#url-format-btn')) {
              event.preventDefault();
              let urlEl = dom.select('#url');
              urlEl.setValue(
                urlEl.getValue()
                .toLowerCase()
                .trim()
                .replace(/\s/g, '-')
              )
            }
          });

          dom.select('body').on('keyup', function (event) {
            countChars();
            allowLeave = false;
          });

          dom.select('#post-creator-form').on('submit', function (event) {
            blockNavigation();
            displayWaiting();
            // var endpoint = '{{ site.url }}/admin/post/create.json';
            var endpoint = dom.select('#processingAddy').getValue();
            // endpoint = 'http://localhost:5001/ultimate-jekyll/us-central1/bm_createPost';

            var token = '';
            firebase.auth().currentUser.getIdToken(true)
            .then(function(token) {
              token = token;

              var data = {};
              dom.select('#post-creator-form input, #post-creator-form select, #post-creator-form textarea')
              .each(function (el, i) {
                var curField = dom.select(el);
                data[curField.getAttribute('name')] = curField.getValue();
              });
              data.authenticationToken = token;

              Manager.log('#post-creator-form', endpoint, data);

              // Check for invalid things
              if (data.body.indexOf('[](') > -1) {
                var bodyLines = data.body.split('\n');
                var lineNum = 0;
                var colNum = 0;
                for (var i = 0; i < bodyLines.length; i++) {
                  var tempIndex = bodyLines[i].indexOf('[](');
                  if (tempIndex > -1) {
                    lineNum = i + 1;
                    colNum = tempIndex;
                    break;
                  }
                }
                displayError('There is an empty link tag or image tag at line ' + lineNum + ':' + colNum);
                return;
              }

              fetch(endpoint, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
              })
              .then(function (res) {
                if (res.status >= 200 && res.status < 300) {
                  res.json()
                  .then(function (data) {
                    console.log('Success', data);
                    // Manager.dom().select('#result').setInnerHTML(res.status + '\n' + JSON.stringify(data, undefined, 2)); // Set setInnerHTML

                    // console.log(one,two,three);
                    displayError();

                    window.refreshTimer = 2;
                    allowLeave = true;
                    setInterval(function () {
                      Manager.log('Refreshing in...', window.refreshTimer);
                      dom.select('#refresh-timer').setInnerHTML(window.refreshTimer);
                      window.refreshTimer--;
                      if (window.refreshTimer <= 0) {
                        allowLeave = true;
                        window.location.href = window.location.href;
                      }
                    }, 1000);
                  })
                } else {
                  return res.text()
                  .then(function (data) {
                    throw new Error(data || res.statusText || 'Unknown error.')
                  })
                }
              })
              .catch(function (e) {
                console.error(e);
                displayError(e);
              })

            })
            .catch(function(e) {
              console.error(e);
              displayError('Failed to get firebase token: ' + e);
            })
          });

          function displayWaiting() {
            clearTimeout(waitingTimeout);
            dom.select('#response .alert-danger').hide()
            dom.select('#response .alert-success').hide()

            dom.select('#response .alert-info').show()
            dom.select('#response').show()
            dom.select('#post-submit-btn').setAttribute('disabled', true);
            waitingTimeout = setTimeout(function () {
              displayError(new Error('Failed to recieve a response. You can try resubmitting now.'));
            }, 15000);
          }

          function displayError(error) {
            clearTimeout(waitingTimeout);
            dom.select('#response .alert-info').hide()
            dom.select('#post-submit-btn').removeAttribute('disabled');
            if (error) {
              dom.select('#response').show()
              dom.select('#response .alert-success').hide()
              dom.select('#response .alert-danger').show()
              dom.select('#main-response-code').setInnerHTML(error)
            } else {
              dom.select('#response').show()
              dom.select('#response .alert-success').show()
              dom.select('#response .alert-danger').hide()
            }
          }

          dom.select('#google-doc-form').on('submit', function (event) {
            var formData = {};
            dom.select('#google-doc-form input, #google-doc-form select, #google-doc-form textarea').each(function (el, i) {
              var curField = dom.select(el);
              formData[curField.getAttribute('name')] = curField.getValue();
            })

            Manager.log('#google-doc-form', formData);

            dom.select('#import-btn').setAttribute('disabled', true);

            fetch(formData.importUrl, {
              method: 'GET',
            })
            .then(function (res) {
              if (res.status >= 200 && res.status < 300) {
                res.text()
                .then(function (data) {
                  // console.log('Success', data);
                  // Manager.dom().select('#result').setInnerHTML(res.status + '\n' + JSON.stringify(data, undefined, 2)); // Set setInnerHTML
                  //temp
                  // var query = query || {};

                  // Clean
                  var body = data.match(/<body[^>]*>((.|[\n\r])*)<\/body>/im)[1]; // extract body
                  body = body.replace(/<script[^>]*>((.|[\n\r])*)<\/script>/im, ''); // Remove script
                  body = body.replace(/<style[^>]*>((.|[\n\r])*)<\/style>/im, ''); // Remove style
                  body = body.replace(/<div id="header"[^>]*>((.|[\n\r])*?)<\/div>/im, ''); // Remove style

                  // Fix no spaces with links
                  // body = body.replace(/><a/img, '> <a');
                  // body = body.replace(/><\/a/img, '> </a');
                  // body = body.replace(/<\/a></img, ' </a><');

                  // https://github.com/domchristie/turndown
                  var markdown = turndownService.turndown(body);

                  // Fix no spaces with links
                  markdown = markdown
                    .replace(/([a-zA-Z0-9])(\[)/g, '$1 $2') // add space when there are brackets
                    .replace(/(\))([a-zA-Z0-9])/g, '$1 $2') // add space when there are parenthesis

                  // Fixes
                  markdown = markdown
                    .replace(/ \. /img, '. ') // fix periods
                    .replace(/ \, /img, ', ') // fix periods
                    .replace(/\)\s\s+/img, ') ') // fix double space
                    .replace(/\s\s+\[/img, ' [') // fix double space

                  // Clear promo stuff
                  markdown = markdown
                    .replace(/Published by \[.*\)/img, '') // remove google
                    .replace(/Updated automatically.*every 5 minutes/img, '') // remove google

                  // Remove hr breaks
                  if (formData.replaceHeadings) {
                    markdown = markdown
                      .replace(/(\n|^)([a-zA-Z0-9].+).*?(\n={3,})/img, '$1# $2') // replace = with #
                      .replace(/(\n|^)([a-zA-Z0-9].+).*?(\n-{3,})/img, '$1## $2') // replace - with ##
                      .replace(/(\n|^)(={3,}).*(={3,})/img, '') // remove extra =
                      .replace(/(\n|^)(-{3,}).*(-{3,})/img, '') // remove extra -
                  }
                  markdown = markdown.replace(/(\n|^)(#+.+)(\n\n*)/img, '$1$2\n'); // remove linebreaks after headings

                  var links = [];
                  links = markdown.match(/(?:\[(.*?)\]\((.*?)\))/img) || [];
                  // Fix Google Links
                  for (var i = 0; i < links.length; i++) {
                    if (markdown.indexOf('!' + links[i]) == -1) {
                      var alt = ((links[i].match(/\[(.*?)\]/img)|| [])[0]+'').replace(/(\[|\])/img, '');
                      var link = ((links[i].match(/\((.*?)\)/img)|| [])[0]+'').replace(/(\(|\))/img, '').replace(/\s.*?"(.*?)"\s*/g,'');
                      var newLink = false;
                      var needsReplacing = link.indexOf('url?q=') != -1;
                      if (needsReplacing) {
                        newLink = new URLSearchParams(link.split('?')[1]).get('q');
                        // console.log('Extracted link:', newLink);
                      }
                      if (needsReplacing) {
                        markdown = markdown.replace(`[${alt}](${link})`, `[${alt}](${newLink})`)
                      }
                    }
                  }

                  // Clean lines
                  markdown = markdown
                    .replace(/^\n/g, '') // fix start line-breaks
                    .replace(/^\n/m, '') // fix start line-breaks stragler
                    .replace(/\n$/g, '') // fix end line-breaks
                    .replace(/\n$/g, '') // fix end line-breaks

                  dom.select('#body').setValue(markdown);
                  dom.select('#google-doc-error').hide();

                  $('#importGoogleDoc').modal('toggle');
                  dom.select('#import-btn').removeAttribute('disabled');
                })
              } else {
                return res.text()
                .then(function (data) {
                  throw new Error(data || res.statusText || 'Unknown error.')
                })
              }

            })
            .catch(function (e) {
              console.error(e);
              dom.select('#google-doc-error').show();
              dom.select('#google-response-code').setInnerHTML(e);
              dom.select('#import-btn').removeAttribute('disabled');
            })

          })
        })
      } else {
        return res.text()
        .then(function (data) {
          throw new Error(data || res.statusText || 'Unknown error.')
        })
      }
    })
    .catch(function (e) {
      console.error(e);
    })

  }, {
    waitFor: function () {
      return typeof window.Stackedit !== 'undefined' && typeof window.TurndownService !== 'undefined';
    }
  });

  function countChars() {
    var charCountFields = ['title', 'url', 'excerpt'];
    for (var i = 0; i < charCountFields.length; i++) {
      var cur = dom.select('*[name="' + charCountFields[i] + '"]').get(0);
      dom.select(cur.parentNode.childNodes).each(function (element, i) {
        if (element.matches('.input-group-append')) {
          dom.select(element.querySelectorAll('.input-group-append .input-group-text')).setInnerHTML(dom.select(cur).getValue().length);
        }
      })
    }
  }

  function setupForm() {
    var select = dom.select('#author').get(0);
    for (var i = 0; i < authors.length; i++) {
      var opt = document.createElement('option');
      opt.value = authors[i];
      opt.innerHTML = authors[i];
      select.appendChild(opt);
    }

    dom.select('#title').setValue(fields.title);
    dom.select('#url').setValue(fields.url.replace(/\/(.*?)\//,'').replace(/\//,''));
    dom.select('#date').setValue(fields.date);
    dom.select('#id').setValue(fields.id);
    dom.select('#author').setValue(fields.author);
    dom.select('#affiliate').setValue(fields.affiliateSearchTerm);
    dom.select('#tags').setValue(fields.tags.toString().replace(/,/g, ', ').replace(/\s\s+/g, ' '));
    dom.select('#categories').setValue(fields.categories.toString().replace(/,/g, ', ').replace(/\s\s+/g, ' '));
    dom.select('#excerpt').setValue(fields.excerpt);
    dom.select('#replaceImagesIncludeTag').setValue(fields.replaceImagesIncludeTag);

    // special
    var serverDev = siteUrl + '/_post.json';
    var serverProd = 'https://us-central1-' + Manager.properties.options.libraries.firebase_app.config.projectId + '.cloudfunctions.net/bm_createPost';
    var serverProdDev = 'http://localhost:5001/' + Manager.properties.options.libraries.firebase_app.config.projectId + '/us-central1/bm_createPost';
    var env = buildFile.environment;
    dom.select('#processingAddy_dev').setInnerHTML(serverDev).setAttribute('value', serverDev);
    dom.select('#processingAddy_prod').setInnerHTML(serverProd).setAttribute('value', serverProd);
    dom.select('#processingAddy').setValue(env == 'development' ? serverDev : serverProd);
    dom.select('#processingAddy_prodDev').setInnerHTML(serverProdDev).setAttribute('value', serverProdDev);
    if (Manager.properties.meta.environment != 'development') {
      dom.select('#processingAddy_prodDev').hide();
    }

    dom.select('#body').setValue("## This is a post in markdown! \nClick 'edit' to start authoring your post. \n\nYou can also... \n- Edit in StackEdit \n- Import from Google Docs \n\n[Here is a regular link](https://itwcreativeworks.com) \n[Here is a Google link](https://www.google.com/url?q=https://itwcreativeworks.com) \n![Here is an image](https://via.placeholder.com/1200)");

    // Finally, make everything visible
    dom.select('.loaded-false').hide();
    dom.select('.loaded-true').show();
  }

  function blockNavigation() {
    if (navBlocked === true) {
      return;
    }
    navBlocked = true;
    try {
      window.onbeforeunload = function(event) {
        if (allowLeave) {
          event.preventDefault();
        } else {
          event.returnValue = 'Write something clever here.';
        }
      };
    } catch (e) {
      console.error('Error creating post', e);
    }
  }


  function setupStackedit() {
    Manager.log('Launched stackedit');
    stackedit = new Stackedit({
      url: 'https://stackedit.io/app',
      // url: '{{ site.url }}/admin/post/vendor/stackedit/',
    });

    turndownService = new TurndownService();

    // Listen to StackEdit events and apply the changes to the textarea.
    stackedit.on('fileChange', function (file) {
      stackEditElement.value = file.content.text;
    });
  }
</script>

<!-- https://benweet.github.io/stackedit.js/ -->
<script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js" async></script>
<!-- <script src="https://unpkg.com/turndown/dist/turndown.js" async></script> -->
<script src="/special/master/pages/admin/post/vendor/turndown.js" type="text/javascript"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/stackedit-js@1.0.7/docs/lib/stackedit.min.js" async></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/turndown@5.0.3/lib/turndown.cjs.min.js" async></script> -->
