<!-- 404 page helper -->
<script>
  Manager.ready(function () {
    var url = new URL(window.location.href);
    var qs404Fixer = url.searchParams.get('404Fixer');

    // Report
    Manager.sentry().captureException(new Error('404 at: ' + window.location.href));

    // If pathname ends with trailing slash, remove it and reload
    if (url.pathname.match(/\/$/) && !qs404Fixer) {
      url.pathname = url.pathname.replace(/\/$/, '');
      url.searchParams.set('404Fixer', 'trailing-slash');

      // Log
      console.log('Redirecting to: ' + url.toString());

      // Redirect
      setTimeout(function () {
        window.location.href = url.toString();
      }, 300);
    }
  })
</script>
