{%- if include.author != null -%}
  {% assign author-id = include.author %}
{%- else -%}
  {% assign author-id = page.post.author %}
{%- endif -%}

{% for member in site.team %}
  {% if member.id contains author-id %}
    {% assign author = member %}
    {% assign author-id = member.id | replace: "/team/", ""  %}
  {% endif %}
{% endfor %}

{%- if include.class != null -%}
  {% assign _header-class = include.class %}
{%- else -%}
  {% assign _header-class = site.settings.blog-author-image-class %}
{%- endif -%}

{%- if include.mode == null or include.mode == 'link' -%}
  <a href="{{ site.url }}{{ author.url }}" class="{{ include.class }}"> {{ author.member.name }}</a>
{%- elsif include.mode == 'url' -%}
  {{ site.url }}{{ author.url }}
{%- elsif include.mode == 'content' -%}
  {{ author | markdownify }}
{%- elsif include.mode == 'image' -%}
  {% capture path %}/assets/images/team/{{ author-id }}/profile.jpg{% endcapture %}
  {% capture alt %}{{ author.member.name }}'s Profile Picture{% endcapture %}

  {%- include /master/helpers/image.html src=path class=_header-class alt=alt style=include.style max_width="1024" width=include.width height=include.height -%}
{%- endif -%}
