{%- if include.id != null -%}
  {% assign _header-id = include.id %}
{%- else -%}
  {% assign _header-id = page.post.id %}
{%- endif -%}

{%- if include.name != null -%}
  {% assign _header-path = include.name %}
{%- else -%}
  {% assign _header-path = page.url %}
{%- endif -%}

{%- if include.alt != null -%}
  {% assign _header-alt = include.alt %}
{%- else -%}
  {% assign _header-alt = page.post.title %}
{%- endif -%}

{%- if include.class != null -%}
  {% assign _header-class = include.class %}
{%- else -%}
  {% assign _header-class = site.settings.blog-post-image-class %}
{%- endif -%}

{%- if include.style != null -%}
  {% assign _header-style = include.style %}
{%- else -%}
  {% assign _header-style = site.settings.blog-post-image-style %}
{%- endif -%}

{% capture _header-path %}/assets/images/blog/posts/post-{{ _header-id }}/{{ _header-path | replace: "/blog/", "" | replace: "/", "" | replace: ".jpg", "" | replace: ".jpeg", "" | replace: ".png", "" }}.jpg{% endcapture %}

{%- include /master/helpers/image.html src=_header-path class=_header-class alt=_header-alt style=_header-style max_width="1024" -%}
