{%- if include.author != null -%}
  {% assign author-id = include.author %}
{%- else -%}
  {% assign author-id = page.post.author %}
{%- endif -%}

{% for member in site.team %}
  {% if member.id contains author-id %}
    {% assign author = member %}
  {% endif %}
{% endfor %}    

{%- if include.mode == null or include.mode == 'link' -%}
  <a href="{{ site.url }}{{ author.url }}" class="{{ include.class }}">{{ author.author.name }}</a>
{%- elsif include.mode == 'content' -%}
  {{ author | markdownify }}
{%- endif -%}
