{%- if include.mode == 'responsive' or include.mode == null -%}
<div class="responsive-iframe-container">
{%- endif -%}
  <iframe
    data-src="{{ include.src }}"
    class="lazyload {% if include.mode == 'responsive' or include.mode == null %} responsive-iframe {% endif %} {{ include.class }}"
    style="{{ include.style }}"
    title="{{ include.title }}"
    width="{{ include.width }}"
    height="{{ include.height }}"
    frameborder="{%- if include.frameborder != null -%}{{ include.frameborder }}{%- else -%}0{%- endif -%}"
    allow="{%- if include.allow != null -%}{{ include.allow }}{%- else -%}accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture{%- endif -%}"
    allowfullscreen="{{ include.allowfullscreen }}"
    {{ include.attributes }}
  >
  </iframe>
{%- if include.mode == 'responsive' or include.mode == null -%}
</div>
{%- endif -%}
