{%- if include.mode == 'default' or include.mode == null -%}
<picture>
	<!--[if IE 9]><video style="display: none"><![endif]-->
		{%- if include.include-webp != false -%}
			{% assign src_path = include.src | replace: ".jpg", "" | replace: ".png", "" %}
			<source
				data-srcset="{{ src_path }}-640px.webp"
				media="(max-width: 640px)"
				type="image/webp"
			>
			<source
				data-srcset="{{ src_path }}-1024px.webp"
				media="(max-width: 1024px)"
				type="image/webp"
			>
			<source
				data-srcset="{{ src_path }}.webp"
				media="(min-width: 1025px)"
				type="image/webp"
			>
		{%- endif -%}

		{%- if include.src contains ".jpg" -%}
			{% assign src_extension = ".jpg" %}
		{%- elsif include.src contains ".png" -%}
			{% assign src_extension = ".png" %}
		{%- endif -%}

		{% assign src_path = include.src | replace: ".jpg", "" | replace: ".png", "" %}

		<source
			data-srcset="{{ src_path }}-640px{{ src_extension }}"
			media="(max-width: 640px)"
		>
		<source
			data-srcset="{{ src_path }}-1024px{{ src_extension }}"
			media="(max-width: 1024px)"
		>
		<source
			data-srcset="{{ include.src }}"
			media="(min-width: 1025px)"
		>

  <!--[if IE 9]></video><![endif]-->
  <img
  	src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  	data-src="{%- if include.fallback != null -%}{{ include.fallback }}{%- else -%}{{ include.src }}{%- endif -%}"
  	class="lazyload {{ include.class }}"
  	alt="{{ include.alt }}"
		style="{{ include.style }}"
		width="{{ include.width }}"
		height="{{ include.height }}"
    {{ include.attributes }}
  >
</picture>
{%- endif -%}
