{%- if include.mode == 'default' or include.mode == null -%}
{% raw %}
<picture>
{% endraw %}
	{%- if "320, 640, 1024" contains include.max-src-width -%}
		{% assign max_width = include.max-src-width | downcase %}
	{%- else -%}
		{% assign max_width = false %}
	{%- endif -%}

	<!--[if IE 9]><video style="display: none"><![endif]-->
		{%- if include.include-webp != false -%}
			{% assign src_path = include.src | replace: ".jpg", "" | replace: ".png", "" %}

			{%- if max_width == "320" -%}
				<source
					data-srcset="{{ src_path }}-320px.webp"
					type="image/webp"
				>
			{%- elsif max_width == "640" -%}
				<source
					data-srcset="{{ src_path }}-320px.webp"
					media="(max-width: 320px)"
					type="image/webp"
				>
				<source
					data-srcset="{{ src_path }}-640px.webp"
					type="image/webp"
				>
			{%- elsif max_width == "1024" -%}
				<source
					data-srcset="{{ src_path }}-320px.webp"
					media="(max-width: 320px)"
					type="image/webp"
				>
				<source
					data-srcset="{{ src_path }}-640px.webp"
					media="(max-width: 640px)"
					type="image/webp"
				>
				<source
					data-srcset="{{ src_path }}-1024px.webp"
					type="image/webp"
				>
			{%- else -%}
				<source
					data-srcset="{{ src_path }}-320px.webp"
					media="(max-width: 320px)"
					type="image/webp"
				>
				<source
					data-srcset="{{ src_path }}-640px.webp"
					media="(max-width: 640px)"
					type="image/webp"
				>
				<source
					data-srcset="{{ src_path }}-1024px.webp"
					media="(max-width: 1024px)"
					type="image/webp"
				>
				<source
					data-srcset="{{ src_path }}.webp"
					type="image/webp"
				>
			{%- endif -%}

		{%- endif -%}

		{%- if include.src contains ".jpg" -%}
			{% assign src_extension = ".jpg" %}
		{%- elsif include.src contains ".png" -%}
			{% assign src_extension = ".png" %}
		{%- endif -%}

		{% assign src_path = include.src | replace: ".jpg", "" | replace: ".png", "" %}
		{%- if max_width == "320" -%}
			<source
				data-srcset="{{ src_path }}-320px{{ src_extension }}"
			>
		{%- elsif max_width == "640" -%}
			<source
				data-srcset="{{ src_path }}-320px{{ src_extension }}"
				media="(max-width: 320px)"
			>
			<source
				data-srcset="{{ src_path }}-640px{{ src_extension }}"
			>
		{%- elsif max_width == "1024" -%}
			<source
				data-srcset="{{ src_path }}-320px{{ src_extension }}"
				media="(max-width: 320px)"
			>
			<source
				data-srcset="{{ src_path }}-640px{{ src_extension }}"
				media="(max-width: 640px)"
			>
			<source
				data-srcset="{{ src_path }}-1024px{{ src_extension }}"
			>
		{%- else -%}
			<source
				data-srcset="{{ src_path }}-320px{{ src_extension }}"
				media="(max-width: 320px)"
			>
			<source
				data-srcset="{{ src_path }}-640px{{ src_extension }}"
				media="(max-width: 640px)"
			>
			<source
				data-srcset="{{ src_path }}-1024px{{ src_extension }}"
				media="(max-width: 1024px)"
			>
			<source
				data-srcset="{{ include.src }}"
				media="(min-width: 1025px)"
			>
		{%- endif -%}

  <!--[if IE 9]></video><![endif]-->
  <img
  	src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  	data-src="{%- if include.fallback != null -%}{{ include.fallback }}{%- else -%}{{ include.src }}{%- endif -%}"
  	class="lazyload {{ include.class }}"
  	alt="{{ include.alt }}"
		style="{{ include.style }}"
		width="{{ include.width }}"
		height="{{ include.height }}"
    {{ include.attributes }}
  >
{% raw %}
</picture>
{% endraw %}
{%- endif -%}
