<!-- https://www.sarasoueidan.com/blog/svg-picture/ -->
{%- if include.mode == 'default' or include.mode == null -%}
<picture>
  <!--[if IE 9]><video style="display: none"><![endif]-->
    <source
      type="image/svg+xml"
      data-srcset="{{ include.src }}"
    >
  <!--[ if IE 9]></video><![endif]-->

  <img
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  	data-src="{%- if include.fallback != null -%}{{ include.fallback }}{%- else -%}{{ include.src | replace: '.svg', '.png' }}{%- endif -%}"
  	class="lazyload {{ include.class }}"
  	alt="{{ include.alt }}"
    style="{{ include.style }}"
  >
</picture>
{%- endif -%}
