---
### ALL PAGES ###
layout: master/placeholder/global/default
sitemap:
  include: false

### REGULAR PAGES ###
meta:
  title: "Oops! This page doesn't exist"
  description: "This page doesn't exist. Please let us know so we can fix the broken link."
  breadcrumb: "404"
  index: false
---
<div class="container" style="height: 100vh;">
	<div class="row h-100">
		<div class="col-12 h-100 d-table">
			<div class="d-table-cell align-middle">
				<div class="py-5 text-center">
          <a class="d-flex justify-content-center" href="{{ site.url }}">
            <img class="zi-2" id="main-logo" src="{{ site.brand.logo-image-svg }}?cb={{ site.time | date: '%s' }}" alt="{{ site.brand.name }}" style="width: 8rem;">
          </a>
          <div class="d-flex justify-content-center align-items-center flex-column">
            <h1>Oops!</h1>
            <p class="mb-0">This page doesn't exist. Please let us know so we can fix the broken link.</p>
            <div>
              <strong>URL:</strong> <code id="page-url">{{ site.url }}{{ page.url }}</code>
            </div>
            <div class="w-50 mt-3">
              <a id="launch-button" class="btn btn-primary mb-1 mr-1" href="{{ site.url }}">Return home</a>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

<script>
  Manager.ready(function () {
    Manager.sentry().captureException(new Error('404 at: ' + window.location.href));
  })

  // Set page URL
  document.getElementById('page-url').innerHTML = window.location.href;
</script>

{{ content | liquify | markdownify }}
