---
layout: null
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include /master/global/head.html -%}
  </head>

  <body>
    <!-- CONTENT START -->
    <article class="" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="">
        {% capture path %}{{ site.url }}/assets/images/blog/posts/post-{{ page.post.id }}/teaser.jpg{% endcapture %}
        {%- include /master/helpers/image.html src=path -%}
        <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="">
          <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.post.author -%}
            {% assign author = site.authors | where: 'title', post.author | first %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="" itemprop="name"><a href="{{ site.url}}{{ author.url }}"> {{ author.author.name }}</a></span></span>
          {%- endif -%}</p>
      </header>

      <div class="" itemprop="articleBody">
        {{ content }}
      </div>

      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}

    </article>

    <!-- CONTENT END -->
    {%- include /master/global/foot.html -%}
  </body>
</html>
