---
layout: master/global/default
---
<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- User Profile Section -->
  <div class="container space-top-3 space-bottom-2">
    <div class="border-bottom w-md-75 w-lg-60 space-bottom-2 mx-md-auto">
      <div class="media d-block d-sm-flex">
        <div class="position-relative mx-auto mb-3 mb-sm-0 mr-sm-4" style="width: 160px; height: 160px;">
          <img class="img-fluid rounded-circle" src="/assets/img/160x160/img1.jpg" alt="Image Description" width="160" height="160">
          <img class="bg-white position-absolute bottom-0 right-0 rounded-circle p-1" src="/assets/svg/illustrations/top-vendor.svg" alt="Icon" width="36" height="36" title="Top Writer">
        </div>

        <div class="media-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h1 class="h3">Hanna Wolfe</h1>
            <div class="d-block">
              <button type="button" class="btn btn-xs btn-outline-primary font-weight-bold text-nowrap ml-1">Follow</button>
            </div>
          </div>

          <div class="row text-body font-size-1 mb-2">
            <div class="col-auto">
              <span class="h6">906</span>
              <span>Posts</span>
            </div>
            <div class="col-auto">
              <span class="h6">19.5k</span>
              <span>Followers</span>
            </div>
            <div class="col-auto">
              <span class="h6">109</span>
              <span>Following</span>
            </div>
          </div>

          <p class="mb-0">Nataly is a freelance journalist who's been published by Popular Science, The Washington Post, USA Today, Slate, and many more. Read more at <a class="font-weight-bold" href="#">hannawolfe.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End User Profile Section -->

  <!-- Blog Listing Section -->
  <div class="container space-bottom-3">
    <div class="w-md-75 w-lg-60 mx-md-auto">
      <!-- End Blog Card -->
      <article class="card mb-3 mb-sm-5">
        <img class="card-img-top" src="/assets/img/900x450/img1.jpg" alt="Image Description">

        <div class="card-body">
          <a class="d-block small font-weight-bold text-cap mb-2" href="#">Business</a>

          <h2 class="h3"><a class="text-inherit" href="blog-single-article.html">Should Product Owners think like entrepreneurs?</a></h2>

          <p>Front is a financial technology company. We build products. We do it fast and we do it well.</p>

          <div class="media align-items-center pt-5">
            <div class="avatar-group">
              <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe">
                <img class="avatar-img" src="/assets/img/100x100/img20.jpg" alt="Image Description">
              </div>
            </div>
            <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
              July 15
            </div>
          </div>
        </div>
      </article>
      <!-- End Blog Card -->

      <!-- End Blog Card -->
      <article class="card mb-3 mb-sm-5">
        <img class="card-img-top" src="/assets/img/900x450/img13.jpg" alt="Image Description">

        <div class="card-body">
          <a class="d-block small font-weight-bold text-cap mb-2" href="#">Business</a>

          <h3><a class="text-inherit" href="blog-single-article.html">Front accounts - let's work together</a></h3>

          <p>Are you an accountant? Are you a company formation advisor? Would you like to partner with one of the world's most popular and fastest-growing Fintech startups?</p>

          <div class="media align-items-center pt-5">
            <div class="avatar-group">
              <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe ">
                <img class="avatar-img" src="/assets/img/100x100/img20.jpg" alt="Image Description">
              </div>
              <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="John O'nolan">
                <img class="avatar-img" src="/assets/img/100x100/img4.jpg" alt="Image Description">
              </div>
            </div>
            <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
              July 15
            </div>
          </div>
        </div>
      </article>
      <!-- End Blog Card -->

      <!-- End Blog Card -->
      <article class="card mb-3 mb-sm-5">
        <img class="card-img-top" src="/assets/img/900x450/img2.jpg" alt="Image Description">

        <div class="card-body">
          <a class="d-block small font-weight-bold text-cap mb-2" href="#">Community</a>

          <h3><a class="text-inherit" href="blog-single-article.html">How Google Assistant now helps you record stories for kids</a></h3>

          <p>Google is constantly updating its consumer AI, Google Assistant, with new features.</p>

          <div class="media align-items-center pt-5">
            <div class="avatar-group">
              <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe ">
                <img class="avatar-img" src="/assets/img/100x100/img20.jpg" alt="Image Description">
              </div>
              <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Emily Milda">
                <img class="avatar-img" src="/assets/img/100x100/img2.jpg" alt="Image Description">
              </div>
            </div>
            <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
              July 15
            </div>
          </div>
        </div>
      </article>
      <!-- End Blog Card -->

      <!-- End Blog Card -->
      <article class="card mb-3 mb-sm-5">
        <img class="card-img-top" src="/assets/img/900x450/img7.jpg" alt="Image Description">

        <div class="card-body">
          <a class="d-block small font-weight-bold text-cap mb-2" href="#">Community</a>

          <h3><a class="text-inherit" href="blog-single-article.html">Do millennials care about saving?</a></h3>

          <p>Over the last few years, numerous studies have appeared to confirm a troubling pattern – millennials don't save, they don't care about their financial futures.</p>

          <div class="media align-items-center pt-5">
            <div class="avatar-group">
              <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe ">
                <img class="avatar-img" src="/assets/img/100x100/img20.jpg" alt="Image Description">
              </div>
            </div>
            <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
              July 15
            </div>
          </div>
        </div>
      </article>
      <!-- End Blog Card -->

      <div class="space-bottom-2"></div>

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination mb-0">
          <li class="page-item mr-auto">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="d-none d-sm-inline-block ml-1">Prev</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item ml-auto">
            <a class="page-link" href="#" aria-label="Next">
              <span class="d-none d-sm-inline-block mr-1">Next</span>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Pagination -->
    </div>
  </div>
  <!-- End Blog Listing Section -->
</main>
<!-- ========== END MAIN ========== -->
