/*
  assets/_src/sass/app/app.scss
*/

/*
  CHARSET
*/

@charset "UTF-8";

/*
  IMPORTS
*/
// @import 'node_modules/bootstrap/scss/bootstrap.scss';

@import '../theme/theme.scss';


.nav-account-dropdown {
  position: relative;
  top: 1px;
  padding: .25rem .25rem .25rem .75rem;
  background-color: rgba(55, 125, 255, 0.1);
  border-radius: 6.1875rem;
}


.nav-account-dropdown small {
  color: #1e2022;
  // font-size: .75rem;
  // vertical-align: middle;
  margin-right: .3125rem;
  font-weight: bold;
}
