---
### ALL PAGES ###
layout: master/admin/main
permalink: /admin/posts/create/
sitemap:
  include: false

### REGULAR PAGES ###
meta:
  title: "Create Post"
  description: "Create blog posts with ease, including the beautiful markdown editor StackEdit."
  breadcrumb: "Create"
  index: false

post-vars:
  ad: '{% include /master/modules/adunits/adsense-in-article.html index="1" %}'

admin:
  header: '
    <a class="btn btn-soft-primary" href="#" data-bs-toggle="modal" data-bs-target="#importGoogleDoc">
      <i class="bi-cloud-download me-1"></i> Import from Google Docs
    </a>
  '
---

<textarea id="markdown-holder" name="name" rows="8" cols="80" hidden></textarea>

<div class="row loaded-false">
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
      </div>
    </div>
  </div>
</div>

<div class="loaded-true" hidden>
  <form class="" onsubmit="return false;" id="post-creator-form">
    <div class="row mb-3">
      <div class="col-12">
        <div id="previous-post-container">
          <h3 class="header-title mb-3 d-flex justify-content-between align-items-center">
            Previous Post
            <a class="btn btn-primary btn-sm btn-copy py-1" data-copy="#copy-main">Copy</a>
          </h3>

          <div class="row">
            <div class="col-12">
              <!-- <div class="alert alert-warning" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>               -->
              <div class="alert alert-soft-secondary">
                <div><strong>ID:</strong> <span id="previous-post-id">...</span> </div>
                <div><strong>URL:</strong> <span id="previous-post-url">...</span> </div>
                <div id="copy-main">
                  <div><strong>Slug:</strong> <span id="previous-post-slug">...</span> </div>
                  <div><strong>Invoice:</strong> <span id="previous-post-invoice">...</span> </div>                      
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="">

    <div class="row mb-3">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h3 class="header-title mb-3">
              Post Details
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="title" class="_form-label text-dark">Title</label>
              <small class="d-block _form-text text-muted">
                The title of the post: <code class="ml-1">My Post Title</code>
              </small>
              <div class="input-group">
                <input type="text" class="form-control" name="title" id="title" placeholder="My post title" aria-label="My post title">
                <span class="input-group-text">0</span>
              </div>

            </div>
            <!-- End Form -->
          </div>

          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="url" class="_form-label text-dark">URL Path</label>
              <small class="d-block _form-text text-muted">
                The URL of the post: <code class="ml-1">my-post-url</code>
              </small>
              <div class="input-group">
                <input type="text" class="form-control" name="url" id="url" placeholder="my-post-title" aria-label="my-post-title">
                <span class="input-group-text">0</span>
              </div>

            </div>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Row -->

        <div class="row">
          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">
              <label for="layout" class="_form-label text-dark">Layout</label>
              <small class="d-block _form-text text-muted">
                Usually <code class="highlighter-rouge">app/blog/post</code> or <code class="highlighter-rouge">master/placeholder/blog/post</code>
              </small>
              <input type="text" class="form-control" name="layout" id="layout" placeholder="app/blog/post" aria-label="app/blog/post" value="app/blog/post">
            </div>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Row -->

        <div class="row">
          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="date" class="_form-label text-dark">Date</label>
              <small class="d-block _form-text text-muted">
                The date of the post
              </small>
              <input type="date" class="form-control" name="date" id="date" placeholder="2019-12-04" aria-label="2019-12-04" required>
            </div>
            <!-- End Form -->
          </div>

          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="id" class="_form-label text-dark">ID</label>
              <small class="d-block _form-text text-muted">
                The id of the post
              </small>
              <input type="number" class="form-control" name="id" id="id" placeholder="10" aria-label="10">
            </div>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Row -->

        <div class="row">

          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="author" class="_form-label text-dark">Author</label>
              <small class="d-block _form-text text-muted">
                Who wrote this beautiful piece of work?
              </small>

              <!-- Select -->
              <div class="tom-select-custom">
                <select class="js-select form-select" id="author" name="author">
                  <option value="">Select an author</option>
                </select>
              </div>
              <!-- End Select -->
            </div>
            <!-- End Form -->

          </div>

          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="affiliate" class="_form-label text-dark">Affiliate search term</label>
              <small class="d-block _form-text text-muted">
                This term is automatically applied to some ads
              </small>
              <input type="text" class="form-control" name="affiliate" id="affiliate" placeholder="Search term" aria-label="Search term">
            </div>
            <!-- End Form -->
          </div>

        </div>


        <div class="row">
          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="tags" class="_form-label text-dark">Tags</label>
              <small class="d-block _form-text text-muted">
                Comma separated tags
              </small>
              <input type="text" class="form-control" name="tags" id="tags" placeholder="Tag 1, Tag 2" aria-label="Tag 1, Tag 2">
            </div>
            <!-- End Form -->
          </div>

          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="categories" class="_form-label text-dark">Categories</label>
              <small class="d-block _form-text text-muted">
                Comma separated categories
              </small>
              <input type="text" class="form-control" name="categories" id="categories" placeholder="Category 1, Category 2" aria-label="Category 1, Category 2">
            </div>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Row -->

        <div class="row">
          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">
              <label for="excerpt" class="text-dark">Excerpt</label>

              <div class="d-flex justify-content-between">
                <small class="text-muted">
                  Text preview of the post
                </small>
                <small class="text-muted word-and-character-count" data-count-source="#excerpt">(0 characters, 1 words)</small>
              </div> 

              <textarea id="excerpt" name="excerpt" class="form-control" placeholder="My post preview" rows="4" spellcheck="true"></textarea>
            </div>
            <!-- End Form -->
          </div>

        </div>

        <div class="row">
          <div class="col-md-8 col-lg-10 col-xxl-11">
            <div>
              <!-- Form -->
              <div class="mb-4">
                <label for="headerImageURL" class="_form-label text-dark">Header Image URL</label>
                <small class="d-block _form-text text-muted">
                  Image preview of the post. Will be named the same as the title of the post
                </small>
                <input type="url" class="form-control" name="headerImageURL" id="headerImageURL" placeholder="https://unsplash.com/your-image" aria-label="https://unsplash.com/your-image" required>
              </div>
              <!-- End Form -->                   
            </div>
          </div>

          <div class="col-md-4 col-lg-2 col-xxl-1">
              <img class="img-fluid img-thumbnail mb-1" id="headerImageURLPreview" src="" alt="" style="min-width: 100%; min-height: 10px">
              <span id="preview-icon-error" class="text-danger" hidden>Error loading image...</span>
            <div>
              <a href="javascript:;" class="btn btn-lg btn-soft-primary w-100 me-3" id="randomize-preview-image">Get new image</a>
            </div>
          </div>

        </div>

      </div>
    </div>

    <hr class="">

    <div class="row mb-3">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h3 class="header-title mb-3">
              Post Content
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">
              <label for="body" class="text-dark">Body</label>

              <div class="d-flex justify-content-between">
                <small class="text-muted">
                Text preview of the post
                </small>
                <small class="text-muted word-and-character-count" data-count-source="#body">(0 characters, 1 words)</small>
              </div>

              <textarea id="body" name="body" class="form-control" placeholder="My post content" rows="9" spellcheck="true"></textarea>
            </div>
            <!-- End Form -->
          </div>

          <div class="col-sm-12">
            <div class="d-flex justify-content-between mt-3">
              <a href="" onclick="return false;" class="btn btn-lg btn-secondary w-100 me-3" id="stackedit-edit">Edit in StackEdit</a>
              <a href="" onclick="return false;" class="btn btn-lg btn-outline-secondary w-100" id="" data-bs-toggle="modal" data-bs-target="#importGoogleDoc">Import from Google Docs</a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <hr class="">

    <div class="row mb-3">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h3 class="header-title mb-3">
              Advanced Options
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">

              <label class="row form-check form-switch" for="enableReplaceImagesMarkdown">
                <span class="col-8 col-sm-9 ms-0">
                  <span class="text-dark">Replace image markdown with liquid tag</span>
                </span>
                <span class="col-4 col-sm-3 text-end">
                  <input type="checkbox" class="form-check-input" id="enableReplaceImagesMarkdown" name="enableReplaceImagesMarkdown" checked="true">
                </span>
              </label>

              <small class="d-block _form-text text-muted">
                Replace <code class="highlighter-rouge">[alt](url)</code> with <code class="highlighter-rouge">&#123;%- include /master/helpers/blog-image.html src="&#123;&#123;url&#125;&#125;" -%&#125;</code>
              </small>

            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-4">
              <label for="replaceImagesIncludeTag" class="text-dark">Tags to replace with</label>

              <small class="d-block _form-text text-muted">
                Enter the tags to replace with. Blank = default.
              </small>
              <input type="text" class="form-control" name="replaceImagesIncludeTag" id="replaceImagesIncludeTag" placeholder="" aria-label="">
            </div>
            <!-- End Form -->

          </div>

          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">

              <label class="row form-check form-switch" for="includeLocalImagePath">
                <span class="col-8 col-sm-9 ms-0">
                  <span class="text-dark">Include image path before image tags</span>
                </span>
                <span class="col-4 col-sm-3 text-end">
                  <input type="checkbox" class="form-check-input" id="includeLocalImagePath" name="includeLocalImagePath" checked="true">
                </span>
              </label>

              <small class="d-block _form-text text-muted">
                Include the standard local image path <code class="highlighter-rouge">/assets/images/blog/posts/post-${id}/</code> in image tags
              </small>

            </div>

            <!-- Form -->
            <div class="mb-4">
              <label for="path" class="text-dark">Save path</label>

              <small class="d-block _form-text text-muted">
                Enter the Path of the post. Usually <code class="highlighter-rouge">./_posts/</code> or <code class="highlighter-rouge">./_posts/sub/dir/</code>
              </small>
              <input type="text" class="form-control" name="path" id="path" placeholder="./_posts/" aria-label="" value="./_posts/">
            </div>
            <!-- End Form -->

            <!-- End Form -->
          </div>

        </div>

        <div class="row">
          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">
              <label for="processingAddy" class="text-dark">Processing Address</label>
              <small class="d-block _form-text text-muted">
                What address to process the post at? If live, it will be comitted live. If local, it will be saved as a file locally.
              </small>

              <!-- Select -->
              <div class="tom-select-custom">
                <select class="js-select form-select" id="processingAddy" name="processingAddy" required>
                  <option id="processingAddy_none" value="">Select an address</option>
                  <option id="processingAddy_dev" value="">Development</option>
                  <option id="processingAddy_prod" value="">Production</option>
                  <option id="processingAddy_prodDev" value="">Production (dev)</option>
                </select>
              </div>
              <!-- End Select -->
            </div>
            <!-- End Form -->

          </div>
        </div>

      <!-- Body -->

      </div>
    </div>

    <hr class="">

    <div class="row mb-3">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h3 class="header-title mb-3">
              Notification Options
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">

              <label class="row form-check form-switch" for="enableInvoice">
                <span class="col-8 col-sm-9 ms-0">
                  <span class="text-dark">Send post notification</span>
                </span>
                <span class="col-4 col-sm-3 text-end">
                  <input type="checkbox" class="form-check-input" id="sendNotification" name="sendNotification">
                </span>
              </label>

              <small class="d-block _form-text text-muted">
                Notify all subscribed users about your new post
              </small>

            </div>
            <!-- End Form -->

          </div>

        </div>

      </div>
    </div>


    <hr class="">

    <div class="row mb-3">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h3 class="header-title mb-3">
              Invoice Options
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <!-- Form -->
            <div class="mb-4">

              <label class="row form-check form-switch" for="enableInvoice">
                <span class="col-8 col-sm-9 ms-0">
                  <span class="text-dark">Enable invoice options</span>
                </span>
                <span class="col-4 col-sm-3 text-end">
                  <input type="checkbox" class="form-check-input" id="enableInvoice" name="enableInvoice" checked="true">
                </span>
              </label>

              <small class="d-block _form-text text-muted">
                Automatically charge a PayPal invoice to any email
              </small>

            </div>
            <!-- End Form -->

          </div>

        </div>

        <div class="row" id="invoiceOptions">
          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="invoiceEmail" class="_form-label text-dark">Invoice email</label>
              <small class="d-block _form-text text-muted">
                Email that the invoice will be sent to
              </small>

              <input type="email" class="form-control" name="invoiceEmail" id="invoiceEmail" placeholder="payer@gmail.com" aria-label="payer@gmail.com">

            </div>
            <!-- End Form -->
          </div>

          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label for="invoicePrice" class="_form-label text-dark">Invoice price</label>
              <small class="d-block _form-text text-muted">
                Price of the invoice
              </small>

              <input type="number" class="form-control" name="invoicePrice" id="invoicePrice" placeholder="30" aria-label="30" min="5" step="1">

            </div>
            <!-- End Form -->
          </div>

          <div class="col-12">
            <!-- Form -->
            <div class="mb-4">
              <label for="invoiceNote" class="_form-label text-dark">Invoice note</label>
              <small class="d-block _form-text text-muted">
                Put company details of both parties here
              </small>

              <textarea type="email" class="form-control" name="invoiceNote" id="invoiceNote" rows="3" placeholder="ITW Creative Works" aria-label="ITW Creative Works"></textarea>

            </div>
            <!-- End Form -->
          </div>          
        </div>

      </div>
    </div>


    <hr class="">

    <div class="row">

      <div class="col-12">

        <div id="response" hidden>
          <div class="my-3">
            <div class="alert alert-info" role="alert" hidden>
              <h4 class="alert-heading">Waiting...</h4>
              <p class="mb-0">Hold up</p>
              <!-- <hr>
              <p class="mb-0">Be sure to check it out on the main blog page (<a href="{{ site.url }}/blog/">{{ site.url }}/blog/</a>) to see if it looks good!</p>
              <p class="mb-0">Refreshing in <span id="refresh-timer">3</span> seconds.</p> -->
            </div>
            <div class="alert alert-success" role="alert" hidden>
              <h4 class="alert-heading">Well done!</h4>
              <p>Aww yeah, you successfully posted that amazing piece of work ;)</p>
              <hr>
              <p class="mb-0">Be sure to check it out on the main blog page (<a href="{{ site.url }}/blog/">{{ site.url }}/blog/</a>) to see if it looks good!</p>
              <p class="mb-0">Refreshing in <span id="refresh-timer">3</span> seconds.</p>
            </div>
            <div class="alert alert-danger" role="alert" hidden>
              <h4 class="alert-heading">Aw snap!</h4>
              <p class="mb-0">Something went wrong, please examine the error below:</p>
              <hr>
              <pre><code id="main-response-code" class="text-white">waiting...
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary btn-lg w-100" id="post-submit-btn" type="submit">Post!</button>
      </div>
    </div>
  </form>
</div>


<div class="modal fade" id="importGoogleDoc" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-lighter">
      <form id="google-doc-form" onsubmit="return false;" class="my-4">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col">

              <!-- Prettitle -->
              <h6 class="text-uppercase text-muted mb-3">
                <a href="#!" class="text-reset">Google Doc Import</a>
              </h6>

              <!-- Title -->
              <h2 class="mb-2">
                Import posts directly from Google Docs
              </h2>

            </div>
            <div class="col-auto">

              <!-- Close -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
          </div> <!-- / .row -->

          <!-- Divider -->
          <hr class="my-4">

          <div class="col-12">
            <strong>Publish the doc</strong> by going to <code class="highlighter-rouge">File > Publish to the Web > Start publishing</code>
          </div>


          <div class="col-12">
            <div class="form-group">
              <label>
                Doc URL
              </label>
              <small class="d-block _form-text text-muted">
                Remember, the Doc must be published!
              </small>
              <div class="input-group input-group-merge mb-3">
                <input type="text" class="form-control" id="importUrl" name="importUrl" placeholder="https://docs.google.com/document/d/e/KEY123/pub" value="" required>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="custom-control custom-checkbox table-checkbox">
              <input type="checkbox" class="custom-control-input auth-newsletter-input" id="replaceHeadings" name="replaceHeadings" checked="true">
              <label class="custom-control-label" for="replaceHeadings">
                Replace <code class="highlighter-rouge">&#45;&#45;&#45;</code> with <code class="highlighter-rouge">#</code>
              </label>
            </div>
          </div>

          <div class="col-12">
            <div id="google-doc-error" class="alert alert-danger" role="alert" hidden>
              <h4 class="alert-heading">Aw snap!</h4>
              <p>Something went wrong, please examine the error below:</p>
              <hr>
              <pre><code id="google-response-code">waiting...
              </code></pre>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="import-btn">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

<script type="text/javascript">
  // fields
  var UNSPLASH_API_KEY = 'lWKjK_iq12b0DlVLVK8Dvazm7fkmNpq6Ai18N0lnwmI';
  var fields = {};
  var members = [];
  var publicSiteUrl = '{{ site.url }}';

  {% assign latest-post = site.posts.first %}

  // console.log('----LOOP TITLE', '{{ post.post.title }}');
  // console.log('----LOOP ID', '{{ post.post.id }}');
  // console.log('----', "{{ latest-post.post.id }}");
  // console.log('----', parseInt("{{ latest-post.post.id }}") || 1);
  fields = {
    // title: "{{ post.post.title }}",
    title: "",
    // url: "{{ post.url }}",
    url: "",
    // excerpt: "{{ post.post.excerpt }}",
    excerpt: "",
    id: (parseInt("{{ latest-post.post.id }} || 0") + 1) || 1,
    author: "{{ latest-post.post.author }}",
    date: new Date().toISOString().split('T')[0] || '{{ latest-post.date | date: "%Y-%m-%d" }}',
    affiliateSearchTerm: "{{ post.post.affiliate-search-term }}",
    tags: [{% for tag in latest-post.post.tags %}"{{ tag }}",{% endfor %}],
    categories: [{% for category in latest-post.post.categories %}"{{ category }}",{% endfor %}],
    replaceImagesIncludeTag: '{% raw %}{%- include /master/helpers/blog-image.html name="{name}" alt="{alt}" -%}{% endraw %}',
  }


  // console.log('----post-test', '{{ post-test.post.id }}');

  members = [{% for member in site.team %}"{{ member.title | replace: " ", "-" | downcase }}",{% endfor %}]

  // console.log('FIELDS', fields);
  // console.log('members', members);
</script>

<!-- Exploring the library -->
<script type="text/javascript">

  var navBlocked = false;
  var allowLeave = true;
  var stackEditElement = document.querySelector('#body');
  var stackedit;
  var turndownService;
  var dom;
  var siteUrl = window.location.protocol + '//' + window.location.host;
  var waitingTimeout;

  var buildFile = {};

  Manager.ready(function() {

    var lastPost = Manager.storage().get('admin.post') || {};

    console.log('Post storage', {jekyll: fields, storage: lastPost});

    // console.log('----lastPost.lastId', lastPost.lastId);

    if (lastPost.lastId) {
      if (fields.id <= lastPost.lastId) {
        fields.id = lastPost.lastId + 1;
      }
      Manager.dom().select('#previous-post-container').removeAttribute('hidden');
      Manager.dom().select('#previous-post-id').setInnerHTML(lastPost.lastId);
      Manager.dom().select('#previous-post-slug').setInnerHTML(lastPost.lastSlug);
      Manager.dom().select('#previous-post-invoice').setInnerHTML(lastPost.lastInvoice);
      Manager.dom().select('#previous-post-url').setInnerHTML(lastPost.lastUrl);
    }

    // console.log('----FINAL', fields.id);


    fetch(siteUrl + '/@output/build/build.json', {
      method: 'GET',
    })
    .then(function (res) {
      if (res.status >= 200 && res.status < 300) {
        res.json()
        .then(function (data) {
          var invoiceEmailEl = document.getElementById('invoiceEmail')
          console.log('Success', data);
          // Manager.dom().select('#result').setInnerHTML(res.status + '\n' + JSON.stringify(data, undefined, 2)); // Set setInnerHTML

          buildFile = data;
          dom = Manager.dom();
          blockNavigation();
          setupStackedit();
          setupForm();
          countChars();
          countCharactersAndWords();
          handleChangeEvent();
          // dom.select('#body').setValue()

          var newDropdownHTML = '<a class="dropdown-item disabled" href="#" disabled>None</a>';
          var invoiceDropdownEl = document.getElementById('invoiceEmailDropdownList');
          Manager.storage().get('admin.post.invoiceEmails', [])
          .forEach((item, i) => {
            if (item) {
              newDropdownHTML = '<a class="dropdown-item insert-invoice-email" href="#" data-invoice-email="' + item + '">' + item + '</a>';
            }
          });

          if (invoiceDropdownEl) {
            invoiceDropdownEl.insertAdjacentHTML('beforeend', newDropdownHTML)
          }

          // Manager.dom().select('#invoiceNote').setValue(Manager.storage().get('admin.post.invoiceNote', ''));

          dom.select('body').on('click', function(event) {
            // allowLeave = false;
            if (event.target.matches('#stackedit-edit')) {
              // Open the iframe
              stackedit.openFile({
                name: 'Filename', // with an optional filename
                content: {
                  text: stackEditElement.value, // and the Markdown content.
                }
              });
            } else if (event.target.matches('#url-format-btn')) {
              event.preventDefault();
              triggerTitleChange('url')
            } else if (event.target.matches('.insert-invoice-email')) {
              event.preventDefault();
              invoiceEmailEl.value = event.target.dataset.invoiceEmail;
            } else if (event.target.matches('#randomize-preview-image')) {
              randomizeHeaderImage();
            } else if (event.target.matches('.btn-copy')) {
              Manager.utilities().clipboardCopy(document.querySelector(event.target.dataset.copy));
              Admin().elements.toastCopy.show();
            }
          });

          dom.select('body').on('change', function (event) {
            setTimeout(function () {
              countChars();
              countCharactersAndWords();
              handleChangeEvent()
            }, 1);
            allowLeave = false;
          });

          dom.select('body').on('keydown', function (event) {
            setTimeout(function () {
              countChars();
              countCharactersAndWords();
            }, 1);
            allowLeave = false;
          });

          dom.select('body').on('paste', function (event) {
            setTimeout(function () {
              countChars();
              countCharactersAndWords();
            }, 1);
            allowLeave = false;
          });

          dom.select('body').on('cut', function (event) {
            setTimeout(function () {
              countChars();
              countCharactersAndWords();
            }, 1);
            allowLeave = false;
          });

          dom.select('#post-creator-form').on('submit', function (event) {
            blockNavigation();
            displayWaiting();
            // var endpoint = '{{ site.url }}/admin/post/create.json';
            var endpoint = dom.select('#processingAddy').getValue();
            var postHandlerEndpoint = 'https://us-central1-{projectId}.cloudfunctions.net/bm_api'
              .replace(/{projectId}/igm, Manager.properties.options.libraries.firebase_app.config.projectId)

            var token = '';
            firebase.auth().currentUser.getIdToken(true)
            .then(function(tkn) {
              token = tkn;

              var data = getFormData();

              data.postHandlerEndpoint = postHandlerEndpoint;

              Manager.log('#post-creator-form', endpoint, data);

              if (data.enableInvoice && (!data.invoiceEmail || !data.invoicePrice)) {
                displayError('If invoice is enabled then email and price must also be filled');
                return;
              }

              data.invoicePrice = parseInt(data.invoicePrice) + '.00';

              if (data.url !== encodeURIComponent(data.url)) {
                displayError('There is an unsafe character in your url: ' + data.url);
                return;
              }

              // Check for invalid things
              if (data.body.indexOf('[](') > -1) {
                var bodyLines = data.body.split('\n');
                var lineNum = 0;
                var colNum = 0;
                for (var i = 0; i < bodyLines.length; i++) {
                  var tempIndex = bodyLines[i].indexOf('[](');
                  if (tempIndex > -1) {
                    lineNum = i + 1;
                    colNum = tempIndex;
                    break;
                  }
                }
                displayError('There is an empty link tag or image tag at line ' + lineNum + ':' + colNum);
                return;
              }

              if (data.excerpt.match(/\[*.\]\(/)) {
                displayError('There is a link or image in the excerpt');
                return;
              }

              // Fixes
              data.title = data.title.replace(/"/img, '\'')
              data.excerpt = data.excerpt.replace(/"/img, '\'')

              var lastUrl = '/blog/' + data.url;
              Manager.storage().set('admin.post.lastId', data.id)
              Manager.storage().set('admin.post.lastSlug', lastUrl)
              Manager.storage().set('admin.post.lastUrl', publicSiteUrl + '/' + lastUrl)
              Manager.storage().set('admin.post.lastInvoice', 'Manual')

              var existingInvoiceEmails = Manager.storage().get('admin.post.invoiceEmails', []).filter(e => e !== data.invoiceEmail);
              existingInvoiceEmails.unshift(data.invoiceEmail);
              Manager.storage().set('admin.post.invoiceEmails', existingInvoiceEmails)
              Manager.storage().set('admin.post.invoiceNote', data.invoiceNote)

              fetch(endpoint, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                  authenticationToken: token,
                  command: 'admin:create-post',
                  payload: data,
                }),
              })
              .then(function (res) {
                if (res.status >= 200 && res.status < 300) {
                  res.json()
                  .then(function (data) {
                    console.log('Success', data, JSON.stringify(data));

                    if (data.postHandler.success && data.postHandler.data.invoice && data.postHandler.data.invoice.success) {
                      Manager.storage().set('admin.post.lastInvoice', data.postHandler.data.invoice.data.href)
                    // } else {
                      // Manager.storage().set('admin.post.lastInvoice', data.postHandler.data)
                    }

                    // Manager.dom().select('#result').setInnerHTML(res.status + '\n' + JSON.stringify(data, undefined, 2)); // Set setInnerHTML

                    // console.log(one,two,three);
                    displayError();

                    window.refreshTimer = 2;
                    allowLeave = true;
                    setInterval(function () {
                      Manager.log('Refreshing in...', window.refreshTimer);
                      dom.select('#refresh-timer').setInnerHTML(window.refreshTimer);
                      window.refreshTimer--;
                      if (window.refreshTimer <= 0) {
                        allowLeave = true;
                        window.location.href = window.location.href;
                      }
                    }, 1000);
                  })
                } else {
                  return res.text()
                  .then(function (data) {
                    throw new Error(data || res.statusText || 'Unknown error.')
                  })
                }
              })
              .catch(function (e) {
                console.error(e);
                displayError(e);
              })

            })
            .catch(function(e) {
              console.error(e);
              displayError('Failed to get firebase token: ' + e);
            })
          });

          function triggerTitleChange(source) {
            var urlEl = dom.select('#url');
            var titleEl = dom.select('#title');
            var val = source === 'url' ? urlEl.getValue() : titleEl.getValue();

            urlEl.setValue(
              val
              .toLowerCase()
              .trim()
              .replace(/\s/g, '-') // replace spaces with dashes
              .replace(/[^ \w-]/igm, '') //
              .replace(/-+/g, '-') // if there are multiple dashes, replace with one
              .replace(/(^-|-$)/g, '') // remove dashes from end
            )
          }

          dom.select('#title').on('change', function(event) {
            setTimeout(function () {
              triggerTitleChange('title')
            }, 1);
          })

          dom.select('#title').on('keydown', function(event) {
            setTimeout(function () {
              triggerTitleChange('title')
            }, 1);
          })

          dom.select('#title').on('paste', function(event) {
            setTimeout(function () {
              triggerTitleChange('title')
            }, 1);
          })

          dom.select('#title').on('cut', function(event) {
            setTimeout(function () {
              triggerTitleChange('title')
            }, 1);
          })

          dom.select('#title').on('change', function(event) {
            setTimeout(function () {
              triggerTitleChange('title')
            }, 1);
          })

          dom.select('#url').on('blur', function(event) {
            setTimeout(function () {
              triggerTitleChange('url')
            }, 1);
          })          

          // 
          dom.select('#headerImageURL').on('keydown', function(event) {
            setTimeout(function () {
              setHeaderImagePreview()
            }, 1);
          })

          dom.select('#headerImageURL').on('paste', function(event) {
            setTimeout(function () {
              setHeaderImagePreview()
            }, 1);
          })

          dom.select('#headerImageURL').on('cut', function(event) {
            setTimeout(function () {
              setHeaderImagePreview()
            }, 1);
          })       
          
          function displayWaiting() {
            clearTimeout(waitingTimeout);
            dom.select('#response .alert-danger').hide()
            dom.select('#response .alert-success').hide()

            dom.select('#response .alert-info').show()
            dom.select('#response').show()
            dom.select('#post-submit-btn').setAttribute('disabled', true);
            waitingTimeout = setTimeout(function () {
              displayError(new Error('Failed to recieve a response. You can try resubmitting now.'));
            }, 15000);
          }

          function displayError(error) {
            clearTimeout(waitingTimeout);
            dom.select('#response .alert-info').hide()
            dom.select('#post-submit-btn').removeAttribute('disabled');
            if (error) {
              dom.select('#response').show()
              dom.select('#response .alert-success').hide()
              dom.select('#response .alert-danger').show()
              dom.select('#main-response-code').setInnerHTML(error)
            } else {
              dom.select('#response').show()
              dom.select('#response .alert-success').show()
              dom.select('#response .alert-danger').hide()
            }
          }

          dom.select('#google-doc-form').on('submit', function (event) {
            var formData = {};
            dom.select('#google-doc-form input, #google-doc-form select, #google-doc-form textarea').each(function (el, i) {
              var curField = dom.select(el);
              formData[curField.getAttribute('name')] = curField.getValue();
            })

            Manager.log('#google-doc-form', formData);

            dom.select('#import-btn').setAttribute('disabled', true);

            fetch(formData.importUrl, {
              method: 'GET',
            })
            .then(function (res) {
              if (res.status >= 200 && res.status < 300) {
                res.text()
                .then(function (data) {
                  // console.log('Success', data);
                  // Manager.dom().select('#result').setInnerHTML(res.status + '\n' + JSON.stringify(data, undefined, 2)); // Set setInnerHTML
                  //temp
                  // var query = query || {};

                  // Clean
                  var body = data.match(/<div id="contents"[^>]*>((.|[\n\r])*)<\/div>/im)[1]; // extract body
                  // var body = data.match(/<body[^>]*>((.|[\n\r])*)<\/body>/im)[1]; // extract body
                  // body = body.replace(/<script[^>]*>((.|[\n\r])*)<\/script>/im, ''); // Remove script
                  body = body.replace(/<style[^>]*>((.|[\n\r])*)<\/style>/im, ''); // Remove style
                  // body = body.replace(/<div id="header"[^>]*>((.|[\n\r])*?)<\/div>/im, ''); // Remove style

                  var title = (data.match(/<div id="title"[^>]*>((.|[\n\r])*?)<\/div>/im) || [])[1]; // extract title
                  title = (title || '')
                    .replace('.docx', '')
                    .replace('.doc', '')

                  dom.select('#title').setValue(turndownService.turndown(title))

                  // Fix no spaces with links
                  // body = body.replace(/><a/img, '> <a');
                  // body = body.replace(/><\/a/img, '> </a');
                  // body = body.replace(/<\/a></img, ' </a><');
                  // setTimeout(function () {
                  triggerTitleChange('title')
                  // }, 300);

                  // https://github.com/domchristie/turndown
                  var markdown = turndownService.turndown(body);

                  document.getElementById('markdown-holder').value = markdown; // just to see what it looks like before processing

                  // Remove whitespace
                  // markdown = markdown
                  //   .replace(/^\n\s*/gm, '');

                  // Fix no spaces with links
                  markdown = markdown
                    .replace(/([a-zA-Z0-9])(\[)/g, '$1 $2') // add space when there are brackets
                    .replace(/(\))([a-zA-Z0-9])/g, '$1 $2') // add space when there are parenthesis

                  // Fixes
                  markdown = markdown
                    .replace(/ \. /img, '. ') // fix periods
                    .replace(/ \, /img, ', ') // fix periods
                    .replace(/\)\s\s+/img, ') ') // fix double space
                    .replace(/\s\s+\[/img, ' [') // fix double space

                  // Clear promo stuff
                  // markdown = markdown
                    // .replace(/Published using Google Docs \[.*\)/img, '') // remove google
                    // .replace(/Updated automatically.*every 5 minutes/img, '') // remove google

                  // Remove hr breaks
                  // console.log('---formData.replaceHeadings', formData.replaceHeadings);
                  if (formData.replaceHeadings) {
                    markdown = markdown
                      .replace(/(\n|^)([a-zA-Z0-9].+).*?(\n={3,})/img, '$1# $2') // replace = with #
                      .replace(/(\n|^)([a-zA-Z0-9].+).*?(\n-{3,})/img, '$1## $2') // replace - with ##
                      .replace(/(\n|^)(={3,}).*(={3,})/img, '') // remove extra =
                      .replace(/(\n|^)(-{3,}).*(-{3,})/img, '') // remove extra -
                  }
                  markdown = markdown.replace(/(\n|^)(#+.+)(\n\n*)/img, '$1$2\n'); // remove linebreaks after headings

                  // Remove links from titles
                  markdown = markdown
                    .replace(/(#+\s.+?)(\s\[)/g, '$1\n$2')

                  var links = [];
                  links = markdown.match(/(?:\[(.*?)\]\((.*?)\))/img) || [];
                  // Fix Google Links
                  for (var i = 0; i < links.length; i++) {
                    if (markdown.indexOf('!' + links[i]) === -1) {
                      var alt = ((links[i].match(/\[(.*?)\]/img)|| [])[0]+'').replace(/(\[|\])/img, '');
                      var link = ((links[i].match(/\((.*?)\)/img)|| [])[0]+'').replace(/(\(|\))/img, '').replace(/\s.*?"(.*?)"\s*/g,'');
                      var newLink = false;
                      var needsReplacing = link.indexOf('url?q=') !== -1;
                      if (needsReplacing) {
                        newLink = new URLSearchParams(link.split('?')[1]).get('q');
                        // console.log('Extracted link:', newLink);
                      }
                      if (needsReplacing) {
                        markdown = markdown.replace(`[${alt}](${link})`, `[${alt}](${newLink})`)
                      }
                    }
                  }

                  // Clean lines
                  markdown = markdown
                    .replace(/^\n/g, '') // fix start line-breaks
                    .replace(/^\n/m, '') // fix start line-breaks stragler
                    .replace(/\n$/g, '') // fix end line-breaks
                    .replace(/\n$/g, '') // fix end line-breaks

                  // Remove header if its first
                  markdown = markdown.replace(/^#(.*?)\n/im, '')

                  // remove first image and set it to the main image field
                  var imageMatchingRegex = /!\[\]\((.*?)\)/im
                  var firstImage = (markdown.match(imageMatchingRegex) || [])[1]
                  markdown = markdown.replace(imageMatchingRegex, '');

                  dom.select('#headerImageURL').setValue(firstImage || '');

                  // Get rid of source images
                  markdown = markdown.replace(/Image source: (.*?)\s/img, '\n');

                  // Insert ads
                  markdown = splice(markdown, getPos(markdown, '\n', 1, false), 0, '\n\n{{ page.post-vars.ad }}\n\n')
                  markdown = splice(markdown, getPos(markdown, '\n', 5, true), 0, '\n\n{{ page.post-vars.ad }}\n\n')

                  // Replace extra line breaks to make it look nice
                  markdown = markdown.replace(/\n{3,}/g,'\n\n')

                  // Trim
                  markdown = markdown.trim()

                  // Set exceprt
                  dom.select('#excerpt').setValue((markdown.match(/(?:.*?\.){2}/, '') || [])[0]);

                  dom.select('#body').setValue(markdown);
                  dom.select('#google-doc-error').hide();

                  $('#importGoogleDoc').modal('toggle');
                  dom.select('#import-btn').removeAttribute('disabled');

                  if (!dom.select('#headerImageURL').getValue()) {
                    randomizeHeaderImage();
                  }

                  setHeaderImagePreview()
                  countChars();
                  countCharactersAndWords();
                })
              } else {
                return res.text()
                .then(function (data) {
                  throw new Error(data || res.statusText || 'Unknown error.')
                })
              }

            })
            .catch(function (e) {
              console.error(e);
              dom.select('#google-doc-error').show();
              dom.select('#google-response-code').setInnerHTML(e);
              dom.select('#import-btn').removeAttribute('disabled');
            })

          })
        })
      } else {
        return res.text()
        .then(function (data) {
          throw new Error(data || res.statusText || 'Unknown error.')
        })
      }
    })
    .catch(function (e) {
      console.error(e);
    })

  }, {
    waitFor: function () {
      return typeof window.Stackedit !== 'undefined' && typeof window.TurndownService !== 'undefined';
    }
  });

  function getFormData() {
    var data = {}
    dom.select('#post-creator-form input, #post-creator-form select, #post-creator-form textarea')
    .each(function (el, i) {
      var curField = dom.select(el);
      data[curField.getAttribute('name')] = curField.getValue();
    });
    return data;
  }

  function handleChangeEvent() {
    var data = getFormData();
    var invoiceOptions = dom.select('#invoiceOptions');
    if (data.enableInvoice) {
      invoiceOptions.removeAttribute('hidden')
    } else {
      invoiceOptions.setAttribute('hidden', true)
    }
  }

  function countChars() {
    var charCountFields = ['title', 'url', 'excerpt'];
    for (var i = 0; i < charCountFields.length; i++) {
      var cur = dom.select('*[name="' + charCountFields[i] + '"]').get(0);
      dom.select(cur.parentNode.childNodes).each(function (element, i) {
        if (element.matches('.input-group-text')) {
          dom.select(element).setInnerHTML(dom.select(cur).getValue().length);
        }
      })
    }
  }

  function countCharactersAndWords() {
    dom.select('.word-and-character-count').each(function (el, i) {
      var source = dom.select(el.dataset.countSource);
      var el = dom.select(el);
      var value = source.getValue() || ''
      var chars = value.length;
      var words = value.split(' ').length;

      el.setInnerHTML('(' + chars + ' characters, ' + words + ' words' + ')')
    })
  }

  function setupForm() {
    var select = dom.select('#author').get(0);
    for (var i = 0; i < members.length; i++) {
      var opt = document.createElement('option');
      opt.value = members[i];
      opt.innerHTML = members[i];
      select.appendChild(opt);
    }
    // var date = new Date();
    var date = new Date(new Date().setDate(new Date().getDate() - 1));

    dom.select('#title').setValue(fields.title || '');
    dom.select('#url').setValue((fields.url || '').replace(/\/(.*?)\//,'').replace(/\//,''));
    dom.select('#date').setValue(date.toISOString().split('T')[0]);
    dom.select('#id').setValue(fields.id || 1);
    dom.select('#author').setValue(fields.author || '');
    dom.select('#affiliate').setValue(fields.affiliateSearchTerm || '');
    dom.select('#tags').setValue((fields.tags || '').toString().replace(/,/g, ', ').replace(/\s\s+/g, ' '));
    dom.select('#categories').setValue((fields.categories || '').toString().replace(/,/g, ', ').replace(/\s\s+/g, ' '));
    dom.select('#excerpt').setValue(fields.excerpt || '');
    dom.select('#replaceImagesIncludeTag').setValue(fields.replaceImagesIncludeTag || '');
    dom.select('#path').setValue('./_posts/guest/' + date.getFullYear());

    // special
    var serverDev = siteUrl + '/_post.json';
    var serverProd = 'https://us-central1-' + Manager.properties.options.libraries.firebase_app.config.projectId + '.cloudfunctions.net/bm_api';
    var serverProdDev = 'http://localhost:5001/' + Manager.properties.options.libraries.firebase_app.config.projectId + '/us-central1/bm_api';
    var env = buildFile.environment;
    dom.select('#processingAddy_dev').setInnerHTML(serverDev).setAttribute('value', serverDev);
    dom.select('#processingAddy_prod').setInnerHTML(serverProd).setAttribute('value', serverProd);
    dom.select('#processingAddy').setValue(env === 'development' ? serverDev : serverProd);
    dom.select('#processingAddy_prodDev').setInnerHTML(serverProdDev).setAttribute('value', serverProdDev);
    if (Manager.properties.meta.environment !== 'development') {
      dom.select('#processingAddy_prodDev').hide();
    }

    dom.select('#body').setValue("## This is a post in markdown! \nClick 'edit' to start authoring your post. \n\nYou can also... \n- Edit in StackEdit \n- Import from Google Docs \n\n[Here is a regular link](https://itwcreativeworks.com) \n[Here is a Google link](https://www.google.com/url?q=https://itwcreativeworks.com) \n![Here is an image](https://via.placeholder.com/1200)");

    // Finally, make everything visible
    dom.select('.loaded-false').hide();
    dom.select('.loaded-true').show();
  }

  function randomizeHeaderImage() {
    var url = 'https://api.unsplash.com/photos/random?client_id=' + UNSPLASH_API_KEY + '&orientation=landscape&query=' + encodeURIComponent(dom.select('#excerpt').getValue() || dom.select('#title').getValue())
    // console.log('===url', url);

    fetch(url, {
      method: 'GET',
    })
    .then(function (res) {
      if (res.status >= 200 && res.status < 300) {
        res.json()
        .then(function (json) {
          // console.log('---json', json);
          dom.select('#headerImageURL').setValue(json.urls.regular)
          setHeaderImagePreview();
        })
      }
    })
  }

  function setHeaderImagePreview() {
    dom.select('#headerImageURLPreview').setAttribute('src', dom.select('#headerImageURL').getValue());
  }

  function blockNavigation() {
    if (navBlocked === true) {
      return;
    }
    navBlocked = true;
    try {
      window.onbeforeunload = function(event) {
        if (allowLeave) {
          event.preventDefault();
        } else {
          event.returnValue = 'Write something clever here.';
        }
      };
    } catch (e) {
      console.error('Error creating post', e);
    }
  }


  function setupStackedit() {
    Manager.log('Launched stackedit');
    stackedit = new Stackedit({
      url: 'https://stackedit.io/app',
      // url: '{{ site.url }}/admin/post/vendor/stackedit/',
    });

    turndownService = new TurndownService();

    // Listen to StackEdit events and apply the changes to the textarea.
    stackedit.on('fileChange', function (file) {
      stackEditElement.value = file.content.text;
    });
  }

  function getPos(str, char, index, backwards) {
    var split = str.split(char);
    var result = 0;
    var done = false;

    split.forEach(function (item, i) {
      if (done) {return}
      result += item.length
      if (!backwards && i === index) {
        done = true
        return
      } else if (backwards && i === split.length - index - 2) {
        done = true
        return
      }
      result += char.length
    })
    return result
  }

  function splice(source, idx, rem, str) {
    return source.slice(0, idx) + str + source.slice(idx + Math.abs(rem));
  };

</script>

<!-- https://benweet.github.io/stackedit.js/ -->
<script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js" async></script>
<!-- <script src="https://unpkg.com/turndown/dist/turndown.js" async></script> -->
<script src="/special/master/pages/admin/posts/vendor/turndown.js" type="text/javascript"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/stackedit-js@1.0.7/docs/lib/stackedit.min.js" async></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/turndown@5.0.3/lib/turndown.cjs.min.js" async></script> -->
