/*
  CHARSET
*/
@charset "UTF-8";

/*
  TEST CLASS
*/
.test-class-master {
  width: 100%;
}

/*
  RESPONSIVE CONTENT
*/
 /* responsive iframe https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ */
.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* responsive svg http://thenewcode.com/744/Make-SVG-Responsive */
.responsive-svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}
.responsive-svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

/* Pointer events - can help fix bubbling issues for click listeners */
.pointer-none {
  pointer-events: none;
}

/*
  MASTER CSS DEPENDENCIES
*/
/* @import "cookieconsent.scss"; */
$fa-font-path: "../webfonts";
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

/*
  APP CSS
*/
@import "../app/app.scss";
