---
layout: null
---
<!DOCTYPE html>
<html lang="en" {{ layout.html.attributes }} {{ page.html.attributes }}>
  <head>
    <!-- Head -->
    {%- include /master/global/head.html -%}
  </head>

  <body class="{{ layout.body.class }} {{ page.body.class }}" {{ layout.body.attributes }} {{ page.body.attributes }}>

    <!-- Header -->
    {%- if page.settings.include-app-header == false -%}
    {% elsif layout.settings.include-app-header == false %}
    {% elsif site.settings.include-app-header == false %}
    {% else %}
      {%- include /app/elements/header.html -%}
    {% endif %}

    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    {%- if page.settings.include-app-footer == false -%}
    {% elsif layout.settings.include-app-footer == false %}
    {% elsif site.settings.include-app-footer == false %}
    {% else %}
      {%- include /app/elements/footer.html -%}
    {% endif %}

    <!-- Foot -->
    {%- include /master/global/foot.html -%}
  </body>
</html>
