---
### ALL PAGES ###
layout: master/global/default

### REGULAR PAGES ###
head:
  post-bundle-css: '
    <link rel="stylesheet" href="https://dashkit.goodthemes.co/assets/css/theme.min.css">
  '

foot:
  post-bundle-script: '
  '

body:
  class: "d-flex align-items-center bg-auth border-top border-top-2 border-primary"

settings:
  include-app-foot: false
---
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      {{ content }}
    </div>
  </div>
</div>
