
<!-- ========== HEADER ========== -->
<!-- <header id="header" class="header header-box-shadow-on-scroll header-abs-top header-bg-transparent header-show-hide" -->
<header id="header" class="header header-box-shadow-on-scroll header-abs-top header-bg-transparent header-show-hide scrolled js-header-fix-moment"
        data-hs-header-options='{
          "fixMoment": 1000,
          "fixEffect": "slide"
        }'>
  <!-- Search -->
  <!-- <div id="searchPushTop" class="search-push-top">
    <div class="container position-relative">
      <div class="search-push-top-content pt-3">
        <div class="search-push-top-close-btn">
          <div class="hs-unfold">
            <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-soft-secondary mt-2 mr-2" href="javascript:;"
               data-hs-unfold-options='{
                "target": "#searchPushTop",
                "type": "jquery-slide",
                "contentSelector": ".search-push-top"
               }'>
              <svg width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </a>
          </div>
        </div>

        <form class="input-group">
          <input type="search" class="form-control" placeholder="Search Front" aria-label="Search Front">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary">Search</button>
          </div>
        </form>

        <div class="row d-none d-md-flex mt-7">
          <div class="col-sm-6">
            <span class="h5">Quick Links</span>

            <div class="row">
              <div class="col-6">
                <div class="nav nav-sm nav-x-0 flex-column">
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> Search Results List
                  </a>
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> Search Results Grid
                  </a>
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> About
                  </a>
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> Services
                  </a>
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> Invoice
                  </a>
                </div>
              </div>

              <div class="col-6">
                <div class="nav nav-sm nav-x-0 flex-column">
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> Profile
                  </a>
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> User Contacts
                  </a>
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> Reviews
                  </a>
                  <a class="nav-link" href="#">
                    <i class="fas fa-angle-right mr-1"></i> Settings
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="rounded search-push-top-banner">
              <div class="d-flex align-items-center">
                <div class="search-push-top-banner-container">
                  <img class="img-fluid search-push-top-banner-img" src="./assets/img/mockups/img3.png" alt="Image Description">
                  <img class="img-fluid search-push-top-banner-img" src="./assets/img/mockups/img2.png" alt="Image Description">
                </div>

                <div>
                  <div class="mb-4">
                    <span class="h5">Featured Item</span>
                    <p>Create astonishing web sites and pages.</p>
                  </div>
                  <a class="btn btn-xs btn-soft-success transition-3d-hover" href="javascript:;">Apply Now <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div> -->
  <!-- End Search -->

  <div class="header-section">
    <!-- Topbar -->
    <!-- <div class="container header-hide-content pt-2">
      <div class="d-flex align-items-center">
        <div class="hs-unfold">
          <a class="js-hs-unfold-invoker dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;"
             data-hs-unfold-options='{
                "target": "#languageDropdown",
                "type": "css-animation",
                "event": "hover",
                "hideOnScroll": "true"
               }'>
            <img class="dropdown-item-icon mr-2" src="./assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="SVG">
            <span class="d-inline-block d-sm-none">US</span>
            <span class="d-none d-sm-inline-block">United States</span>
          </a>

          <div id="languageDropdown" class="hs-unfold-content dropdown-menu">
            <a class="dropdown-item active" href="#">English</a>
            <a class="dropdown-item" href="#">Deutsch</a>
            <a class="dropdown-item" href="#">Español‎</a>
          </div>
        </div>

        <div class="ml-auto">
          <div class="hs-unfold d-sm-none mr-2">
            <a class="js-hs-unfold-invoker dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;"
               data-hs-unfold-options='{
                  "target": "#jumpToDropdown",
                  "type": "css-animation",
                  "event": "hover",
                  "hideOnScroll": "true"
                 }'>
              Jump to
            </a>

            <div id="jumpToDropdown" class="hs-unfold-content dropdown-menu">
              <a class="dropdown-item" href="./page-faq.html">Help</a>
              <a class="dropdown-item" href="./page-contacts-agency.html">Contacts</a>
            </div>
          </div>

          <div class="nav nav-sm nav-y-0 d-none d-sm-flex ml-sm-auto">
            <a class="nav-link" href="./page-faq.html">Help</a>
            <a class="nav-link" href="./page-contacts-agency.html">Contacts</a>
          </div>
        </div>

        <ul class="list-inline ml-2 mb-0">
          <li class="list-inline-item">
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker btn btn-xs btn-icon btn-ghost-secondary" href="javascript:;"
                 data-hs-unfold-options='{
                  "target": "#searchPushTop",
                  "type": "jquery-slide",
                  "contentSelector": ".search-push-top"
                 }'>
                <i class="fas fa-search"></i>
              </a>
            </div>
          </li>

          <li class="list-inline-item">
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker btn btn-xs btn-icon btn-ghost-secondary" href="javascript:;"
                 data-hs-unfold-options='{
                  "target": "#shoppingCartDropdown",
                  "type": "css-animation",
                  "event": "hover",
                  "hideOnScroll": "true"
                 }'>
                <i class="fas fa-shopping-cart"></i>
              </a>

              <div id="shoppingCartDropdown" class="hs-unfold-content dropdown-menu dropdown-menu-right dropdown-card text-center" style="min-width: 275px;">
                <div class="card">
                  <div class="card-body">
                    <figure class="max-w-9rem mx-auto mb-3">
                      <img class="img-fluid" src="./assets/svg/illustrations/empty-cart.svg" alt="SVG">
                    </figure>
                    <span class="d-block">Your cart is empty</span>
                  </div>

                  <div class="card-footer">
                    <small>Free shipping on orders over <strong class="text-dark">$50</strong></small>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="list-inline-item">
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-ghost-secondary" href="javascript:;" data-toggle="modal" data-target="#signupModal">
                <i class="fas fa-user-circle"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div> -->

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-lg">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ site.url }}" aria-label="Front">
          <!-- <img src="https://cdn.itwcreativeworks.com/assets/somiibo/images/logo/somiibo-wordmark-blue-x.svg" alt="Somiibo Logo"> -->
          {{ site.brand.name }}
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="navbar-toggler-default">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
            </svg>
          </span>
          <span class="navbar-toggler-toggled">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
            </svg>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
        	<ul class="js-scroll-nav navbar-nav align-items-md-center u-header__navbar-nav">


            <!-- <li class="nav-item u-header__nav-item navbar-nav-item {% if page.url contains '/download/' %} active {% endif %}">
        			<a class="nav-link u-header__nav-link" href="https://somiibo.com/download">Download</a>
        		</li>
            <li class="nav-item u-header__nav-item navbar-nav-item {% if page.url contains '/download/' %} active {% endif %}">
              <a class="btn btn-primary btn-sm transition-3d-hover" href="https://somiibo.com/download">Download</a>
            </li> -->
        		<!-- <li class="nav-item u-header__nav-item navbar-nav-item {% if page.url contains '/pricing/' %} active {% endif %}">
        			<a class="nav-link u-header__nav-link" href="{{ site.url }}/pricing">Pricing</a>
        		</li> -->
            <!-- <li class="nav-item u-header__nav-item navbar-nav-item dropdown {% if page.url contains '/platforms/' %} active {% endif %}">
        			<a class="nav-link u-header__nav-link dropdown-toggle" href="#" id="dropdown-platforms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Platforms</a>
        			<div class="dropdown-menu" aria-labelledby="dropdown-platforms">
                <a class="dropdown-item {% if page.url contains '/soundcloud-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/soundcloud-bot/">SoundCloud</a>
                <a class="dropdown-item {% if page.url contains '/spotify-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/spotify-bot/">Spotify</a>
                <a class="dropdown-item {% if page.url contains '/instagram-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/instagram-bot/">Instagram</a>
                <a class="dropdown-item {% if page.url contains '/tiktok-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/tiktok-bot/">TikTok</a>
                <a class="dropdown-item {% if page.url contains '/twitter-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/twitter-bot/">Twitter</a>
                <a class="dropdown-item {% if page.url contains '/youtube-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/youtube-bot/">YouTube</a>
        				<a class="dropdown-item {% if page.url contains '/traffic-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/traffic-bot/">Web traffic bot</a>
                <hr>
                <a class="dropdown-item {% if page.url contains '/youlikehits-bot/' %} active {% endif %}" href="{{ site.url }}/platforms/youlikehits-bot/">YouLikeHits</a>
                <hr>
                <a class="dropdown-item" href="{{ site.url }}/platforms/">View all platforms</a>

        			</div>
        		</li> -->


            <li class="nav-item u-header__nav-item navbar-nav-item dropdown {% if page.url contains '/packages/' %} active {% endif %}">
              <a class="nav-link u-header__nav-link dropdown-toggle" href="#" id="dropdown-packages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Promo</a>
              <div class="dropdown-menu" aria-labelledby="dropdown-packages">
                <a class="dropdown-item {% if page.url contains '/soundcloud-repost/' %} active {% endif %}" href="https://somiibo.com/packages/soundcloud-repost/">SoundCloud Repost Promo</a>
                <a class="dropdown-item {% if page.url contains '/soundcloud-plays/' %} active {% endif %}" href="https://somiibo.com/packages/soundcloud-plays/">Get SoundCloud Plays</a>
                <a class="dropdown-item {% if page.url contains '/spotify-playlist/' %} active {% endif %}" href="https://somiibo.com/packages/spotify-playlist/">Spotify Playlist Placement</a>
                <!-- <hr> -->
                <!-- <a class="dropdown-item" href="{{ site.url }}/packages/">View all promotions</a> -->

              </div>
            </li>

            <!-- <li class="nav-item u-header__nav-item navbar-nav-item dropdown">
        			<a class="nav-link u-header__nav-link dropdown-toggle" href="#" id="dropdown-explore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
        			<div class="dropdown-menu" aria-labelledby="dropdown-explore">
                <a class="dropdown-item {% if page.url contains '/about/' %} active {% endif %}" href="{{ site.url }}/about/">How it works / FAQ</a>
                <a class="dropdown-item {% if page.url contains '/blog/' %} active {% endif %}" href="{{ site.url }}/blog/">Blog</a>
                <a class="dropdown-item " href="{{ site.url }}/discord/">Join our Discord</a>
                <a class="dropdown-item {% if page.url contains '/contact/' %} active {% endif %}" href="{{ site.url }}/contact/">Contact</a>
        			</div>
        		</li> -->

            <li class="nav-item u-header__nav-item navbar-nav-item">
              <a class="nav-link u-header__nav-link" href="https://somiibo.com/contact/">Contact</a>
            </li>
            <li class="nav-item u-header__nav-item navbar-nav-item auth-signedin-false-element" style="display: block;">
              <a class="nav-link u-header__nav-link" href="https://somiibo.com/signin/">Sign in</a>
            </li>
            <li class="nav-item u-header__nav-item navbar-nav-item ml-3">
              <a class="btn btn-primary btn-sm transition-3d-hover py-2" href="https://somiibo.com/download/">Download</a>
            </li>

        		<!-- <li class="nav-item u-header__nav-last-item navbar-nav-item auth-signedin-false-element mx-lg-3" style="display: block;">
        			<a class="btn btn-primary btn-sm transition-3d-hover" href="{{ site.url }}/signup/">Sign up</a>
        		</li> -->





            <!-- <li class="nav-item u-header__nav-item dropdown show">
            	<a class="btn btn-text-secondary u-sidebar--account__toggle-bg" href="#" id="dropdownMenuAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            		<span class="position-relative">
            			<span class="u-sidebar--account__toggle-text auth-email-element" id="">ian.wiedenman@gmail.com</span>
            			<img class="u-sidebar--account__toggle-img" src="/assets/img/user-solid.svg" alt="User profile image">
            			<span class="badge badge-sm badge-success badge-pos rounded-circle">3</span>
            		</span>
            	</a>
            	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAccount">
            		<a class="dropdown-item " href="{{ site.url }}/account/">Account</a>

            		<a class="dropdown-item " href="{{ site.url }}/account/">My Forms</a>
            		<a class="dropdown-item " href="{{ site.url }}/account/">My Submissions</a>
            		<a class="dropdown-item auth-signout-all-btn" href="#" onclick="return false;">Sign out</a>
            	</div>
            </li> -->

            <li class="nav-item u-header__nav-item navbar-nav-item dropdown auth-signedin-true-element ml-3" style="display: none;">
            	<a class="nav-account-dropdown" href="#" id="dropdownMenuAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            		<span class="position-relative">
                  <small class="" id="">My account <i class="fas fa-user fa-lg ml-1"></i></small>
            			<!-- <img class="u-sidebar--account__toggle-img" src="/assets/img/user-solid.svg" alt="User profile image"> -->
            			<!-- <span class="badge badge-sm badge-success badge-pos rounded-circle">3</span> -->
            		</span>

            	</a>
            	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAccount">
            		<a class="dropdown-item " href="{{ site.url }}/account/">Account</a>

            		<!-- <a class="dropdown-item " href="{{ site.url }}/account/">My Forms</a> -->
            		<!-- <a class="dropdown-item " href="{{ site.url }}/account/">My Submissions</a> -->
            		<a class="dropdown-item auth-signout-all-btn" href="#" onclick="return false;">Sign out</a>
            	</div>
            </li>

        	</ul>
        </div>
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
