<!-- App Head Content -->
<!-- App Header Content -->
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<!-- CSS Implementing Plugins -->
<!-- <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css"> -->

<!-- <link rel="stylesheet" href="/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css"> -->
<!-- <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsparallaxer.css"> -->
<!-- <link rel="stylesheet" href="/assets/vendor/cubeportfolio/css/cubeportfolio.min.css"> -->
<!-- <link rel="stylesheet" href="/assets/vendor/aos/dist/aos.css"> -->
