/*! defaults.css v1.0.0 | MIT License | ITW Creative Works */
@font-face {
  font-display: auto;
}

/* Test if the sheet is loading */
/* .test-red {
  color: red;
  background-color: red;
} */

/* Properly hide things */
.hidden, [hidden] {
  display: none;
}

/* Pointer events - can help fix bubbling issues for click listeners */
.pointer-none {
  pointer-events: none;
}

/* API styles */
.auth-signin-provider-btn * {
  pointer-events: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Simple Animations */
.animation-slide-up {
  animation: slide-up 1s ease;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-fade-in {
  animation: fade-in 1s ease;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animation-fade-out {
  animation: fade-out 1s ease;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animation-hover-up {
  -webkit-transition: all .3s cubic-bezier(.2,.3,0,1);
  -moz-transition: all .3s cubic-bezier(.2,.3,0,1);
  -ms-transition: all .3s cubic-bezier(.2,.3,0,1);
  -o-transition: all .3s cubic-bezier(.2,.3,0,1);
  transition: all .3s cubic-bezier(.2,.3,0,1);
}
.animation-hover-up:hover {
  -moz-transform: translate(0,-8px);
  -o-transform: translate(0,-8px);
  -ms-transform: translate(0,-8px);
  -webkit-transform: translate(0,-8px);
  transform: translateY(-8px);
}

.animation-hover-zoom {
  -webkit-transition: all .3s cubic-bezier(.2,.3,0,1);
  -moz-transition: all .3s cubic-bezier(.2,.3,0,1);
  -ms-transition: all .3s cubic-bezier(.2,.3,0,1);
  -o-transition: all .3s cubic-bezier(.2,.3,0,1);
  transition: all .3s cubic-bezier(.2,.3,0,1);
}
.animation-hover-zoom:hover {
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* @keyframes opacity {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.animation-opacity {
	animation: opacity .25s ease-in-out;
}

@keyframes opacity-long {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.animation-opacity-long {
	animation: opacity-long 3s ease-in-out;
}

@keyframes opacity-short {
	0% {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.animation-opacity-short {
	animation: opacity-short 1.5s ease-in-out;
} */

@keyframes popup {
	0% {
		transform: scale(.93);
		opacity: .8;
	}

	50% {
		transform: scale(1.02);
		opacity: 1;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.animation-popup {
	animation: popup .25s ease-in-out;
}

@keyframes popup-long {
	0% {
		transform: scale(.93);
		opacity: 0;
	}

	85% {
		transform: scale(.93);
		opacity: 0;
	}

	90% {
		transform: scale(.93);
		opacity: .8;
	}

	95% {
		transform: scale(1.02);
		opacity: 1;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.animation-popup-long {
	animation: popup-long 3s ease-in-out
}

@keyframes popup-short {
	0% {
		transform: scale(.93);
		opacity: 0;
	}

	75% {
		transform: scale(.93);
		opacity: 0;
	}

	80% {
		transform: scale(.93);
		opacity: .8;
	}

	90% {
		transform: scale(1.02);
		opacity: 1;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.animation-popup-short {
	animation: popup-short 1.5s ease-in-out;
}

@keyframes pulse {
	50% {
		opacity: .5;
	}
}

.animation-pulse {
	animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

@keyframes shimmer {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	to {
		background-position: 0 50%;
	}
}

.animation-shimmer {
	animation: shimmer 3s ease-out infinite alternate;
}

@keyframes wiggle {
	0%,
	20%,
	80%,
	to {
		transform: rotate(0deg);
	}

	30%,
	60% {
		transform: rotate(-2deg);
	}

	40%,
	70% {
		transform: rotate(2deg);
	}

	45% {
		transform: rotate(-4deg);
	}

	55% {
		transform: rotate(4deg);
	}
}

.animation-wiggle {
	animation: wiggle 1.5s ease-in-out infinite;
}

@keyframes up-down {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animation-up-down {
  animation: up-down 3s ease-in-out infinite;
}

/* Filters */
.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(0) invert(1) hue-rotate(180deg);
}

/* Buttons */
/* .btn-gradient {
  animation: shimmer 3s ease-out infinite alternate !important;
  border-width: 0 !important;
  border-color: transparent !important;
  background-color: transparent !important;
  background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) !important;
  background-size: 300% 300% !important;
  text-transform: none !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255/ 1!important) !important;
  --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-duration: .1s;
  animation-duration: .1s;
} */

.btn-gradient {
  animation: shimmer 3s ease-out infinite alternate !important;
  border-width: 0 !important;
  border-color: transparent !important;
  background-color: transparent !important;
  background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) !important;
  background-size: 300% 300% !important;
  text-transform: none !important;
  color: rgba(255, 255, 255, 1) !important;
  /* Replacing Tailwind CSS custom properties with a specific box-shadow value */
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  transition-duration: 3s !important;
  animation-duration: 3s !important;
}
.btn-gradient:hover {
  opacity: 0.70;
}

.text-gradient {
  background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s ease-out infinite alternate;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


