<!-- Module - Disqus Comments -->
{%- if page.comments.disqus == false -%}
{%- elsif site.comments.disqus != false -%}
<div id="disqus_thread"></div>
<script async type="text/javascript">
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';
  };

  (function() {
    var d = document, s = d.createElement('script');

    s.src = 'https://{{ site.comments.disqus }}.disqus.com/embed.js';
    s.async = true;

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{%- endif -%}
