<!-- Module - Social Share Kit -->
{%- if page.layout contains 'post' and page.settings.include-socialsharekit == false -%}
{% assign include_socialsharekitscript = false %}
{%- elsif page.layout contains 'post' or page.settings.include-socialsharekit != false -%}
{% assign include_socialsharekitscript = true %}
{%- else -%}
{% assign include_socialsharekitscript = false %}
{%- endif -%}
{%- if include_socialsharekitscript == true -%}

  {%- if include.size != null -%}
    {% assign ssk_size = include.size %}
  {%- else -%}
    {% assign ssk_size = 'ssk-med' %}
  {%- endif -%}

  {%- if include.count == false -%}
    {% assign ssk_count = '' %}
  {%- else -%}
    {% assign ssk_count = 'ssk-count' %}
  {%- endif -%}

  <div class="ssk-group {{ ssk_count }} {{ ssk_size }}">
    <a href="" class="ssk ssk-facebook"></a>
    <a href="" class="ssk ssk-twitter"></a>
    <!-- <a href="" class="ssk ssk-google-plus"></a> -->
    <a href="" class="ssk ssk-pinterest"></a>
    <a href="" class="ssk ssk-tumblr"></a>
    <a href="" class="ssk ssk-linkedin"></a>
    <a href="" class="ssk ssk-vk"></a>
    <a href="" class="ssk ssk-email"></a>
  </div>
{%- endif -%}
