---
layout: null
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include /master/global/head.html -%}
  </head>

  <body>
    <!-- CONTENT START -->
    <h1 class="">Authors</h1>
    {% for author in site.authors %}
      <article class="">
        {% capture path %}{{ site.url }}/assets/images/blog/authors/author-{{ author.title | replace: " ", "-" | downcase }}/profile.jpg{% endcapture %}
        {%- include /master/helpers/image.html src=path -%}
        <h2>{{ author.author.name }}</h2>
        <p class="">Joined: {{ author.author.joined }}</p>
        <p class="">Skills: {{ author.author.skills }}</p>
        <p class="">Location: {{ author.author.location }}</p>
        <p class="">{{ author.author.excerpt }}</p>
      </article>
    {% endfor %}

    <!-- CONTENT END -->
    {%- include /master/global/foot.html -%}
  </body>
</html>
